[2021-08-28 07:54] mcollina opened #1105 "Add a transports option to the constructor"
The option would need to pass its inputs as pino.transport({ transports }) and use the result as the destination stream. This would be useful for Fastify and others that do not re-expose pino.transport() to their users.

cc @davidmarkclements

[2021-08-28 07:58] mcollina opened #1106 "Deprecate prettyPrint: true"
We had too many folks complaining about how we load pino-pretty with yarn 2/3 and similar. I think we should either

1) require the user to pass in a reference to pino-pretty
2) make pino-pretty a full transport and let folks use it from there.

[2021-08-28 08:00] mcollina opened #1107 "Test pino.transport() with pnpm and yarn 2/3 pnp"
As titled, we need to verify how we load 3-party transports in yarn 2/3 pnp and pnpm. Use pino-elasticsearch for testing if if all works fine.

[2021-08-28 08:01] mcollina commented on #1102
Here is my solution to this: https://github.com/pinojs/pino/issues/1106.

[2021-08-28 11:42] jsumners commented on #1106
I'd prefer to fully deprecate it from Pino. Let people pass in a transport or whatever that does it. I'd also like to keep `pino-pretty` narrowed to its current focus: parsing `stdin`. If necessary, and possible, I'd rather see us create `pino-pretty-transport` to provide the transport.

[2021-08-28 11:43] jsumners commented on #1102
I am closing this in favor of #1106. @Unbuttun please follow along there.

[2021-08-28 11:43] #1102 closed

[2021-08-28 14:40] jsumners commented on #1100
Wrapping a Pino instance is really not that difficult. There shouldn't be any need to mutate the prototype.

[2021-08-29 17:22] 0x2b3bfa0 opened #1108 "Provide a default logger as part of the pino module"
[Winston](https://github.com/winstonjs/winston) provides a default logger as part of the module and, to my mind, it's very convenient when there is no need to maintain a separate file for the common logging logic. Would it be advisable to have something similar in the `pino` module?

[code]

[code]

[2021-08-30 13:31] leorossi commented on #1106
Hi guys, I am willing to work on this.

Just to be clear, the intention of this is
- remove `prettyPrint` option from constructor
- remove all tests that relies on this feature (i.e: checking the output has been "prettified" and things like this)
- remove all documentation related to that option, and redirect to `pino-pretty`

is that correct?

Do we want to show a warning when passing `{ prettyPr

[2021-08-30 17:10] patelnav opened #1109 "Setting enabled to false still sends logs"
Using pino-logflare's [VERCEL example](https://github.com/Logflare/pino-logflare/blob/master/docs/VERCEL.md), I have set enabled: false when creating the pino logger and logs are still being transmitted to logflare.

[2021-08-30 21:46] mcollina commented on #1106
I have some code prepared for this, wait until I upload it (might take a few days).

[2021-08-30 23:21] mcollina commented on #1109
Unfortunately that module is not part of this organization, I would recommend you to open an issue there.

[2021-08-31 00:32] patelnav commented on #1109
Thanks for responding @mcollina. I have created an issue on [their end](https://github.com/Logflare/pino-logflare/issues/31).

[2021-08-31 00:32] #1109 closed

[2021-08-31 08:00] Eomm commented on #1105
I'm working on it!

[2021-08-31 12:25] Eomm commented on #1107
Working on it!

[2021-09-01 08:59] Eomm commented on #1107
Is it not updated to pino@7, or doesn't it need any change?

[2021-09-01 12:11] mcollina commented on #1107
it has been already updated.

[2021-09-02 18:07] davidmarkclements commented on #1105
@mcollina sgtm

[2021-09-03 07:42] JWalker1995 opened #1114 "Support for custom stringifiers?"
Firstly thank you, this is an awesome library.

I'm logging some objects that contain Uint8Array's, and the result looks like this:

[code]

I could use a serializer to process each top-level property that I expect to contain Uint8Arrays, but since they could be nested arbitrarily deeply, it would be nice if there were a way to specify a serializer for a specific object type. For example:

[code]

[2021-09-03 11:19] karl-run opened #1115 "TypeScript 4.4 breaks logging exceptions from catch"
https://github.com/Microsoft/TypeScript-wiki/blob/main/Breaking-Changes.md#using-unknown-in-catch-variables

This causes issues with the typing in `pino.error(exception)` for example.

![2021-09-03_13-16](https://user-images.githubusercontent.com/1507032/131997114-0a6dcb36-7541-48a2-a855-9f82847df6b2.png)

[code]

Of course it works, because in this particular scenario the `error` is an actual thr

[2021-09-03 12:09] jsumners commented on #1114
A couple of ideas that come to mind:

1. Use a custom object that implements `toJSON` instead of Uint8Array directly
2. Use our `logMethod` hook to do deep inspection (expensive!)

[2021-09-03 12:22] Eomm commented on #1056
working on it

[2021-09-03 12:23] kibertoad commented on #1115
@karl-run Can you elaborate a bit on where do you see the issue on Pino's side and how we could be handling it better? Converting from `unknown` generally should be done on a user side, I'm not sure we should be simply accepting `any` there. If such is user's desire, they could do catch (error: any)

[2021-09-03 13:14] karl-run commented on #1115
The reason this worked before is because I believe the `error` type TypeScript provides was `any`. Thus `obj: object` would happily receive `any` (well anything will happily receive an any).

Of course you could have the user handle this, but everyone having to do something like:

[code]

Feels kind of tedious? Pino is already handling whatever we throw at it pretty nicely, and runtime nothing has

[2021-09-03 13:20] karl-run commented on #1115
Worth noting that I was bumping some dependencies when I hit this error. Actually spent some time googling with no luck before it hit me that the type for `error` could have changed. I'm assuming others might end up down the same rabbit hole. So it would be nice for the consumers of pino that it's "a head of the curve", so to speak.

[2021-09-03 13:22] kibertoad commented on #1115
@climba03003 @pinojs/typescript Could use a second opinion here. Should we explicitly support unknown as a parameter?

[2021-09-03 13:30] mcollina commented on #1108
I would recommend hardly against this. A logger is application specific: by making it global we would need to make it configurable.. and multiple modules might need different settings.

I do not store it as a global in my application either.

[2021-09-03 13:30] #1108 closed

[2021-09-03 13:41] climba03003 commented on #1115
I would suggest doing the following

[code]

I have check the behavior through [Playground](https://www.typescriptlang.org/play?ssl=6&ssc=2&pln=1&pc=1#code/JYOwLgpgTgZghgYwgAgDIHsDmAxEyDeAUMicgPQBUyYAzgDahgBcAJsDXAEZ0RMjoBaAK4gQEJDQ5QAngMwQxUYAhrIKZYqQA8AFWQQAHpBAtV6TgCtxYAHwAKcxabIdAGmQBbGpgD8zmmBKIJjuAHThcFCYNM5wINIA2gC6AJTOAG7owCwA3Jokdl6Y-oGgIcjhoZHRsfHJaciZ2XmkyLrIALzIIgDW-ADuIPaOzm4VEVExyHGJ

[2021-09-03 21:20] 0x2b3bfa0 commented on #1108
Thanks for your feedback, @mcollina!

I was wondering what the best approach would be for a command-line application where logging is configured once and then used with the same settings across different files.

Keeping a separate file just for the logger and importing it from each source file doesn't seem especially convenient, and storing it as a global... Globals are Evil™ in most situations.

[2021-09-03 22:10] mcollina commented on #1108
Each node module is loaded only once, and it's attached to a global variable. Providing a default logger (or one within a module) is identical to use a global.

[2021-09-04 19:19] 0x2b3bfa0 commented on #1108
The only difference would be that explicitly using a global makes it harder to determine the place where it came from, but having to import/require the logger from each file would, at least, give a clue about its origin.

Anyhow, is there a better practice to use a single logger from many files without having to reconfigure it over and over? Maybe I was trying to solve an [XY problem](https://xypr

[2021-09-04 19:20] kibertoad commented on #1108
@0x2b3bfa0 One of the better approaches is by using [dependency injection](https://github.com/jeffijoe/awilix) - if you use fastify, there is [plugin](https://github.com/fastify/fastify-awilix) for that as well.

[2021-09-04 20:25] #1115 closed

[2021-09-04 20:53] jsumners commented on #1108
`const logger = require('./lib/logger')` is the regular Node way.

[2021-09-06 08:25] AlexanderKaran opened #1118 "Transport Writeable Stream sending log data"
Hi Everyone

Brand new to pino and been creating a transport to send data to Cloudwatch-logs. Doing this as the old package has not been updated for a while and is now legacy.

The code works fine, I guess I am asking if what I am doing is correct. I have created a transport that inside its writeable stream formats the data for Cloudwatch and then sends it on its way. Is there a better way?

Here

[2021-09-06 13:44] mcollina commented on #1118
I would recommend to create a new package.

I would recommend to _not_ use a Writable but rather use async iterators, https://github.com/pinojs/pino-abstract-transport, and https://github.com/mcollina/hwp.

[2021-09-06 18:02] 0x2b3bfa0 commented on #1108
Thank you very much for all your suggestions! [`yargs.parse`](https://yargs.js.org/docs/#api-reference-parseargs-context-parsecallback) can pass a context object where I can include the logger, so dependency injection would make a lof of sense.

[2021-09-07 01:18] AlexanderKaran commented on #1118
Thank you, will give it a crack this week.

Would be great to point to these to libraries in the docs in the transport section.

[2021-09-07 07:52] mcollina commented on #1118
I've tagged this as a good first issue for documentation.

[2021-09-07 10:14] simoneb commented on #990
@SebastienElet I tried the fix implemented in https://github.com/davidmarkclements/fast-safe-stringify/pull/56 inside your repro and it works fine.

If you could confirm we'll close this issue as soon as a new version is released and integrated in pino.

[2021-09-07 15:39] simoneb commented on #990
@SebastienElet this fix is now in version 2.1.0 of https://github.com/davidmarkclements/fast-safe-stringify

[2021-09-07 17:31] #1107 closed

[2021-09-07 22:43] stalniy opened #1119 "Hard to fully integrate with logging services like Rollbar"
## The main issue

I'm integrating rollbar at stream level because I want to use all that reduction and serialization features from pino.
But in order to get nice error stacktrace on rollbar issue page, I need to provide an instance of an `Error` to rollbar logger and I can't do this because my error has been already serialized by pino.

So, currently I do this:

[code]

But then my stacktrace is

[2021-09-08 06:57] mcollina commented on #1119
Given how the rollbar JS SDK API is built, it's not compatible with pino. I would recommend you to create your wrapper that sends logs to both, or skip the rollbar SDK and build a pino transport that uploads to rollbar.

[2021-09-08 06:57] #1119 closed

[2021-09-08 07:20] mcollina commented on #990
I had to change the default depth and edge limit in fast-safe-stringify because it broke folks. I'm going to send a PR to set them in pino instead.

[2021-09-08 07:37] stalniy commented on #1119
How can I write that wrapper? Could you please provide suggestions?

I use pino v6, and streams to redirect pino output to rollbar but as I said I don’t have access to original arguments (i.e., error) at that stage. And at wrapper stage I don’t have access to redacted/serialized values

I think there is the same issue with other logging solution like sentry.

Re-implementing their SDK is a big pro

[2021-09-08 07:39] stalniy commented on #1119
In other words, it’s much easier to change logging library rather than re-implementing SDK, especially part related to source map re-mapping.

But this means that pino despite being supper fast cannot be  fully used to solve real production issues

[2021-09-08 08:02] stalniy commented on #1119
I see 2 ways to solve this problem:
1. Implement `Logger` wrapper class and manually call serializers and redaction (would be good for pino to provide an api that consumes redacted values):
[code]
2.  Through some pino hook/event/stream that accepts raw arguments what will allow me to get access to both serialized and original arguments

[2021-09-08 08:08] stalniy commented on #1119
Initially, I used wrapper class but then I realized that rollbar doesn't serialize  `FastifyRequest` correctly (actually it just walks through all properties and logs too much information)

I'd like to reopen this issue because currently it's impossible to integrate Rollbar with pino in a way that I get desired outcome in my dashboard

[2021-09-08 08:41] mcollina opened #1121 "Create depth limit option for the log line"
As titled.

Previous ones #990 #1120

[2021-09-08 10:23] mcollina commented on #1023
This was done as part of https://github.com/pinojs/pino/pull/1003

[2021-09-08 10:23] #1023 closed

[2021-09-08 11:13] #1106 closed

[2021-09-09 07:16] Eomm commented on #1105
This could be closed 👍🏽

[2021-09-09 09:53] #1105 closed

[2021-09-10 13:21] Eomm commented on #1056
Working on it

[2021-09-11 03:16] JWalker1995 commented on #1114
Thank you, I'll try those

[2021-09-11 06:29] #1114 closed

[2021-09-12 17:16] javiertury opened #1126 "`pino.final` without a handler and `stream.flushSync()`"
I discovered that pino.final can be used without a handler, which I find very handy. Example:

[code]

But reading the code I found something that might be a bug and perhaps someone here can confirm it.

https://github.com/pinojs/pino/blob/c57c25855d89a2c481914672bbdeebe7ec3087c7/lib/tools.js#L463-L478

`stream.flushSync()` is only called before the handler is executed or after `finalLogger` is us

[2021-09-12 18:04] mcollina commented on #1126
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-09-13 07:54] kaihendry opened #1128 "Feedback on pino"
[code]
faq entry for [useLevelLabels](https://github.com/pinojs/pino/blob/master/docs/help.md#level-string) needs updating

With `log.error("user login attempt failed", event);`, how come "event" is not printed? silent failure is a bit worrying.

I'm a little surprised pid, hostname came in there without me asking for it.

Ideally i'd love to nest event under the "fields" key like https://play.gol

[2021-09-13 08:22] mcollina commented on #1128
How? Would you like to send a PR?

I would be surprised if they were not there.

I do not understand this.

This is well documented in: https://getpino.io/#/docs/api?id=opt-timestamp

[2021-09-13 08:40] jsumners commented on #1128
There isn't a failure. Please read the documentation for the logger methods.

[2021-09-13 08:45] kaihendry commented on #1128
PR would just point to https://github.com/pinojs/pino/issues/848#issuecomment-642768553 as that's how I worked around the warning.

RTFM... ok

[2021-09-13 13:19] #1126 closed

[2021-09-13 15:25] leorossi commented on #1121
I am working on this, if I read it correctly this code
[code]
would produce something like this: `{"a":{"b":{"c":"[...]"}}}`

I am currently testing with this code

[code]

This is a very edge-case, a deeply nested object which is like this: `{ nest_0: { nest_1: { nest_2: {...} } } }`

We reach immediately this [line](https://github.com/pinojs/pino/blob/master/lib/tools.js#L490) which calls `JSON.

[2021-09-13 15:47] mcollina commented on #1121
Not really. Essentially we should embed json-stringify-safe and implement this feature there.

[2021-09-16 15:37] mdornseif commented on #301
Example:

    pino({
      // Default Level: Info
      level: process.env.PINO_LEVEL || process.env.LOG_LEVEL || 'info',
      prettyPrint: (process.env.NODE_ENV || 'development') === 'development',
    })

[2021-09-19 15:32] zgwit commented on #1056
@mcollina I am glade to ship pino@v7.  can i use it now?

[2021-09-19 16:52] simoncrypta opened #1133 "Missing file.js on V7.0.0-rc.4"
Hey everyone,
I currently work on upgrading Pino to V7 on [RedwoodJS  ](https://github.com/redwoodjs/redwood/pull/3298)and when I use the target `pino/file` for transport  I got this error :
[code]

When I wrote myself the `file.js` in `/node_modules/pino/` , everything work as expect. I guess it's just forgotten when deliver to NPM.

[2021-09-19 17:00] jsumners commented on #1133
Problem is this annoying nonsense -- https://github.com/pinojs/pino/blob/916af455aad308ca980f490ab683dd9f780e130d/package.json#L9-L20

[2021-09-19 18:23] haquezameer commented on #491
@juanpicado is this still open? I see the open PR has been marked as `wontfix`, if not then can I pick up?

[2021-09-19 19:55] mcollina commented on #491
This is already as fixed as it possible in pino. There is nothing to do and pino defaults will work with pm2.

The recommendation __do not use pm2__ still stand.

[2021-09-19 20:19] juanpicado commented on #491
@haquezameer  you can follow the status https://github.com/verdaccio/verdaccio/issues/2210#issuecomment-829520310 and https://github.com/verdaccio/verdaccio/pull/2212 , long story short the issue is not in pino.js rather how is implemented in verdaccio.

[2021-09-19 22:53] mcollina commented on #1133
Fixed in v7.0.0-rc.5

[2021-09-19 22:53] #1133 closed

[2021-09-20 15:02] Eomm opened #1136 "pino 7 - error on flush"
I get this error:

[code]

For this script:

[code]

`tran.js` file (from transport documentation):
[code]

Or this transport produces the same error:

[code]

It seems related to this module:
https://github.com/pinojs/thread-stream

[2021-09-21 04:29] climba03003 commented on #1136
The problem should be in this line?
https://github.com/pinojs/pino/blob/c57c25855d89a2c481914672bbdeebe7ec3087c7/lib/proto.js#L195

[2021-09-21 10:14] #1136 closed

[2021-09-21 13:51] mcollina commented on #1056
I think it would be great!

[2021-09-23 17:29] bitjson opened #1138 "Pino.transport seems to be dropping logs?"
Thanks for the fantastic library and documentation! I've been happily using it for a few years, and this is the first meaningful issue I've had (after upgrading from `pino@6.11.3` +`pino-multi-stream@5.3.0` to `pino@7.0.0-rc.6` – hopefully I'm just misunderstanding configuration for v7).

I have a server which constantly fetches data from another process and stores it in a database (it attempts to

[2021-09-23 17:32] bitjson commented on #1138
To clarify, I used to use `pino-multi-stream` to log to both stdout and a file. Am I understanding correctly that `pino.transport` is intended to work for this use case?

By the way, when I switch to just:
[code]

I don't see any dropped logs. So it only happens when I'm using the above `pino.transport` configuration.

[2021-09-23 17:59] bitjson commented on #1138
I also tried the new `pino.multistream`, but if I understand correctly that will be removed soon? (From the list in https://github.com/pinojs/pino/issues/1056: `remove part of the multistream support that was moved into pino from https://github.com/pinojs/pino-multi-stream.`)

This seems to work more reliably during the e2e tests, but it's still occasionally stalling and not logging for around a m

[2021-09-23 18:51] mcollina commented on #1138
Thanks for this writeup! This is exactly the kind of feedback we are looking for.

Could you prepare us a script to reliable reproduce this problem?

[2021-09-24 04:38] bitjson commented on #1138
Thanks for the quick response @mcollina!

I'm still working on a repo with a minimal reproduction (it's been difficult to boil it down), but I think that this hacky, DIY multistream is working as I expected the above `pino.transport` to work (doesn't drop any logs):
[code]

Just to clarify, you would expect the above `pino.transport` to be functionally equivalent to this snippet, correct? (Other t

[2021-09-24 08:52] mcollina commented on #1138
There are some more consideration for the error/exit phase of the process, functionally it is the same.

No. pino.multistream will stay there. You can use that to achieve the same result.

[2021-09-24 09:45] #728 closed

[2021-09-24 10:08] TinOo512 opened #1139 "formatters with transport"
Hi pino!

It looks like any mutation done in `formatters.log` isn't working when using along transport (tested with `pino-pretty` and `pino/file`).

[code]

p1 output to STDOUT:
[code]

p2 output to test.log:
[code]

According to https://github.com/pinojs/pino/pull/809 this has been fixed in the v6? I didn't take the time to dive in the codebase but if you could provide some guidance where to star

[2021-09-24 14:09] mcollina commented on #1138
Can you please verify if https://github.com/pinojs/pino/pull/1140 solves the problem?

[2021-09-25 07:32] mcollina commented on #1139
Transports pass through a different code paths than prettifiers, so it's likely than a similar fix is needed.

Would you like to dig into what is going wrong and send a PR?

[2021-09-27 08:31] #1128 closed

[2021-09-28 13:42] mcollina commented on #1138
Any update @bitjson ?

[2021-09-28 19:16] bmaupin opened #1142 "How can I use pino-socket with pino-syslog?"
I have a test app:

[code]

When I run it, the syslog-formatted message logs to stdout:

[code]

And the syslog server instead receives an unformatted log:

[code]

These are the package versions I'm using:

[code]

Thanks!

[2021-09-28 22:07] bitjson commented on #1138
Thanks for your help @mcollina. I did some testing with the latest master (after #1140), and I'm afraid I'm still seeing the same issue. Certain log lines seem to be dropped when using the above logger instantiated with `pino.transport`, but those same lines are not dropped when using my [naive multistream logger](https://github.com/pinojs/pino/issues/1138#issuecomment-926335848) from above. (Some

[2021-09-29 06:43] mcollina commented on #1138
Unfortunately without a script to reproduce the problem we cannot be of much help. In all my tests log lines are not lost. I'm closing this for now, feel free to reopen when you can come back to it.

[2021-09-29 06:43] #1138 closed

[2021-09-29 06:45] mcollina commented on #1142
i'll work on this!

[2021-09-29 17:03] mcollina commented on #1142
Here is the first step: https://github.com/pinojs/pino-abstract-transport/pull/25

[2021-09-30 11:06] Tohaker opened #1144 "Applying a logMethod hook always causes an error"
`pino` version: 6.13.3

I've followed the steps [in the documentation](https://github.com/pinojs/pino/blob/master/docs/api.md#logmethod) exactly, and even the most simple example causes the following error to be thrown:

[code]

[code]

Without the hook, everything works as expected, but I'm really not sure how to proceed.

[2021-09-30 11:08] Tohaker commented on #1144
Never mind, I realise now that using an arrow function doesn't have access to `this`. Replacing with a standard function fixes it.

[2021-09-30 11:08] #1144 closed

[2021-09-30 13:46] laurenzhonauer opened #1145 "bindings.serializers is deprecated warning"
Hello, I am using Pino and get following warning unexpectedly:
`[PINODEP004] PinoWarning: bindings.serializers is deprecated, use options.serializers option instead`

I dont think I'm using the serializers setting at all, so i think this could be a small bug in pino. But maybe there is a problem with my config.

I am using following pino dependencies
`{
    "pino": "^6.13.2",
    "pino-http": "^5.

[2021-10-02 22:24] #1142 closed

[2021-10-06 07:24] zekth commented on #1098
I can confirm i'm encountering something similar when logging a huge amount of data to stdout too.

[2021-10-06 09:15] zekth commented on #1098
6.13.2

[2021-10-06 10:00] mcollina commented on #1098
@zekth I would say try with pino@7. It should solve this.

[2021-10-11 12:49] anton-johansson opened #1151 "Error properties are always included"
We're using `pino` with the [`@elastic/ecs-logging-nodejs`](https://github.com/elastic/ecs-logging-nodejs/tree/master/loggers/pino), which works great out of the box.

We're trying to get ourselves a clean structure for all of our logs. Some errors that are thrown by third party libraries contain a lot of properties, and they are all included by `pino` by default, which means they are automaticall

[2021-10-11 12:58] #1151 closed, assigned to nobody

[2021-10-12 06:26] victorzw895 opened #1153 "Rearranging log format"
Hi,

I noticed from some examples that the log format has been rearranged so that the message appears earlier in the line before pid and hostname.
<img width="1080" alt="Screen Shot 2021-10-12 at 5 23 45 pm" src="https://user-images.githubusercontent.com/51236363/136902921-33c1b176-f93e-4e28-aa0d-61ebb3fa3881.png">

I would like to get the message earlier just after logging level. I tried using me

[2021-10-12 07:46] mcollina commented on #1153
Unfortunately it's not possible to control the order in which the properties are rendered in a performant way.
Anyway, to achieve this you would:

1. get the top level properties
2. sort the top level properties according to your criteria
3. generate a new objects, taking care of adding the properties in the same order of the previous step

I would recommend to do it in a transport, but potentiall

[2021-10-12 07:46] #1153 closed, assigned to nobody

[2021-10-14 13:55] #1098 closed

[2021-10-14 23:13] pan93412 opened #1157 "Pino v7 shows "Cannot find module 'lib/worker.js' when bundling it with Rollup"
## Brief Description

`Rollup` can't bundle the `worker.js` of Pino v7 properly. [There may be a Rollup plugin for bundling worker.js](https://www.npmjs.com/package/rollup-plugin-web-worker-loader), but Pino seems like not compatible with this.

[code]

## Reproducible code and step

https://github.com/UnblockNeteaseMusic/server/blob/316766433de074ff94f120f515e058de63dae560/src/logger.js

[code]

[2021-10-14 23:23] pan93412 opened #1158 "Error: Cannot find module '#pino/file'"
## Brief Description

I set up the minimum environment to run this example:

[code]

But it turns out to show `Error: Cannot find module '#pino/file'`.

[code]

## Reproducible Step

I'm in `darwin/arm64`.

[code]

[2021-10-15 03:10] climba03003 commented on #1158
`#pino/file` is renamed to `pino/file`.

https://github.com/pinojs/pino/blob/fc291b7df7f35107afdfab4ccf2e2640e9094f21/examples/transport.js#L9-L28

[2021-10-15 04:27] pan93412 opened #1160 "The "level" property of "pino.transports" did not work as expected"
## Environment

[code]

[code]

I'm in `darwin/arm64`.

## Description

Consider this code:

[code]

I expected it can print the log with the range from "error" to "trace";
however, it only prints the log with "error", "warn" and "info" level.

## Expected Result

<details>
  <summary>It would be worked like this code:</summary>

[code]

</details>

[code]

## Actual Result

[code]

[2021-10-15 07:54] climba03003 commented on #1160
`pino` default log level is [`info`](https://github.com/pinojs/pino/blob/master/docs/api.md#level-string).

`pino` instance log level means the log allow to log.
`pino` transport log level means the lowest level it can be received from instance.

If the instance log level is higher than transport log level, some of the log will be missing for transport.

The same behavior is expected when using `m

[2021-10-15 07:58] pan93412 commented on #1160
Thanks a lot!

[2021-10-15 07:58] #1160 closed

[2021-10-17 14:20] Unga opened #1164 "Runtime issue (packed by esbuild): Cannot find module 'pino-pretty'"
Hi,

I packed project with esbuild (output is one file index.js).
Configuration of Pino transport:
`
transport: {
     target: 'pino-pretty',
     options: {
       colorize: true,
       ignore: 'time,pid,hostname',
    },
},
`

On runtime I receive next error:
node:internal/modules/cjs/loader:930
  throw err;
  ^
Error: Cannot find module 'pino-pretty'
Require stack:
 /Users/d/test/index.js

[2021-10-17 14:24] kibertoad commented on #1164
Have you tried adding pino-pretty as a runtime dependency if you are usibg it?

[2021-10-17 14:26] Unga commented on #1164
Yep. Installed "npm i pino pino-pretty"

[2021-10-17 14:29] kibertoad commented on #1164
wonder if bundler is not picking it up due to dynamic import. can you somehow force dependency bundling?

[2021-10-17 14:33] Unga commented on #1164
Yesterday I switched our project from Winston to Pino because Winston has same issue... I decided to try something new :) But when I added pino-pretty to config I got same issue.
What do you mean "force dependency bundling"?

[2021-10-17 17:18] armandAkop opened #1165 "[Question] - Possible to rename output of err serializer?"
Hello,

The default err serializer is great and works fine for me, but I'd like the output key in the log be "error" instead of "err". Is there a setting to allow this renaming? Example

Current
[code]

Ask
[code]

The only way I am able to do this currently is to use my own error serializer
[code]
However, this comes at the cost of the caller having to specify "error" in the log object explicitly

[2021-10-17 18:06] frzsombor opened #1166 "A "nestedKeyName: {}" is always added to the log and displayed by pretty even if there is nothing to nest"
If I set the `nestedKey: payload` option, the nested key is always added to the log and pino-pretty also displays it every time, even if I try to log a simple string (and if I can remember correctly, this was not the case with v6).

A simple `logger.info('info');` makes pino-pretty (with `base: undefined, timestamp: pino.stdTimeFunctions.isoTime` options) show the following:
[code]

---

_My curre

[2021-10-17 18:27] frzsombor opened #1167 "Same level multistream logging is not working with "dedupe""
If I set `dedupe` to true, the option works as stated in the docs, but it also _breaks_ the possibility to have multiple streams for the same level, as only the "first" stream of the given level will be used, not all the streams matching the level. I'm not sure if this is the intended way of working or this is something you might want to change. I understand that the way it currently works exactly

[2021-10-17 20:14] mcollina commented on #1167
The current implementation works as expected. If you would like to add a new feature, I'll be happy to review a PR.

[2021-10-17 20:15] mcollina commented on #1166
This looks like a bug. Would you like to send a PR to fix it?

[2021-10-17 20:15] mcollina commented on #1165
Unfortunately no. However you can use the formatters to do it!

[2021-10-17 21:14] #1167 closed

[2021-10-17 22:51] frzsombor commented on #1166
I actually tried to fix this in the code too, but I could not decide if it is a problem in proto.js [here](https://github.com/pinojs/pino/blob/588b4858ebcc65f67ceac40c1c4a10452a84dc75/lib/proto.js#L166-L167) or I should simply add an additional check in tools.js [here](https://github.com/pinojs/pino/blob/588b4858ebcc65f67ceac40c1c4a10452a84dc75/lib/tools.js#L175). That's all I've found.

[2021-10-17 23:08] frzsombor commented on #1167
All right, I understand if you don't want to change that and in this case, maybe I will try to create a PR for this some day.
Just let me add that, I don't think going with _"A"_ above would invalidate the _current_ meaning of dedupe or would go against the current docs, as first I even thought this is a bug, because I expected that dedupe is especially meant for "do not write logs to any stream w

[2021-10-18 06:24] mcollina commented on #1167
ah, I might have missed the problem then. a PR with A) will be good.

[2021-10-18 06:26] mcollina commented on #1166
probably in the line with mixin defined.

If that's the case this ha not been introduced in v7, what's the latesr version this was working for you?

[2021-10-18 10:54] ronag opened #1168 "log loss docs outdated?"
https://github.com/pinojs/pino/blob/master/docs/asynchronous.md#log-loss-prevention

I thought one of the things pino 7 fixed was that we no longer need final?

[2021-10-18 17:23] frzsombor commented on #1167
Sounds great, then here is a PR for that:

[2021-10-19 10:59] #1168 closed, assigned to nobody

[2021-10-19 13:27] frzsombor commented on #1166
I would be happy to help, but I think this task might require a deeper understanding of the codebase that I currently have in this project.

[2021-10-20 13:38] mcollina opened #1175 "Add a deprecation warning for pino.final() in Node v14+"
Seems acceptable.

_Originally posted by @jsumners in https://github.com/pinojs/pino/issues/1171#issuecomment-947647249_

[2021-10-20 13:48] budarin opened #1176 "Property 'flush' does not exist on type 'typeof P'"
Have upgraded to version 7.0.2 and got the error.

According to doc https://getpino.io/#/docs/asynchronous?id=prevent-log-loss-in-node-v12 I use flush method as

[code]

[2021-10-20 13:52] mcollina commented on #1176
cc @kibertoad

[2021-10-20 20:50] kirbysayshi opened #1177 "bindings() and setBindings() are not present in the browser version of pino"
Hello!

I was attempting to use pino in the browser today and discovered that `.bindings()` is undefined. Additionally, `.setBindings()` is also `undefined`, but it's also undocumented in general (is it officially part of the API?).

I looked into adding this to browser.js but I'd definitely need some guidance before proceeding. For example, I'm not sure if  `bindings` changes cascade through chil

[2021-10-20 20:58] mcollina commented on #1177
bindings are fixed at the creation of child loggers

A PR adding this would be awesome!

[2021-10-21 09:18] simoneb commented on #1166
A git bisect shows that this behavior was introduced in https://github.com/pinojs/pino/pull/885

[2021-10-21 11:51] denisix opened #1178 "issue while trying to use multiple arguments"
log.info() with multiple args just prints first arg, i.e. "test", without 123
[code]
log output:
[code]

so I've tried to use hook as described in your API documentation, but no luck:
[code]

error:
[code]

could you please tell me working solution how can I use log.info(arg1, arg2, argN, ...), i.e. with multiple args?

Thanks!

[2021-10-21 17:03] denisix commented on #1178
ok, nvm, documentation lack information about where to provide this "hooks", found some examples and finally found a solution:

[code]

will print:
[code]

[2021-10-21 17:04] denisix commented on #1178
thank you so much, you replied the same time i wrote a solution to my issue :)

[2021-10-21 21:33] #1178 closed, assigned to nobody

[2021-10-21 23:21] rmuchall opened #1179 "ReferenceError when using transports (pino-pretty) with Jest"
I'm receiving a ReferenceError when using pino/pino-pretty with Jest.
I've created a minimal repository which you can find here:
https://github.com/rmuchall/pino-jest-bug

When running the following command:
[code]
the following error message is displayed:
[code]

Many thanks for all your hard work on this library :)

[2021-10-25 01:21] JaneJeon opened #1182 "Clarify documentation around transports, worker threads, and destinations"
## Altering log objects/logging middlewares

As far as I can tell, there are several different ways to "alter" a log object (and by this I mean the object we pass into log.info()/warn()/whatever): redactions, transports, formatters, and serializers.

At times, it's difficult to figure out what to use where.

For example, say I want to remove `req.params` from every request that's logged. Do I use

[2021-10-25 12:35] #1179 closed, assigned to nobody

[2021-10-25 13:00] jsumners opened #1183 "Logs are not printing on hard exit"
I'm not sure there is anything we can do about this except document it?

**index.js**:
[code]

**stderr.mjs**:
[code]

[2021-10-25 16:17] #1183 closed, assigned to nobody

[2021-10-26 12:47] jsumners opened #1187 "Second parameter docs need to indicate a transport is accepted"
`pino(options, destination)` should indicate that `destination` can be the result of `pino.transport()`.

https://github.com/pinojs/pino/blob/f16c98d7d758fa96155996bbc7604e4eee600d79/docs/api.md?plain=1#L416-L450

[2021-10-26 12:59] jsumners opened #1188 "404 in help doc"
The link in the following doc goes to a 404:

https://github.com/pinojs/pino/blob/f16c98d7d758fa96155996bbc7604e4eee600d79/docs/help.md?plain=1#L118-L121

It should point to https://github.com/pinojs/pino/blob/f16c98d7d758fa96155996bbc7604e4eee600d79/docs/api.md#pinomultistreamoptions--stream

[2021-10-26 13:05] jsumners opened #1189 "Need both multistream and transport to accomplish a task"
But they are mutually exclusive. Situation: I'm working on adding `pino` to a CLI tool where error logs will be written to `stderr` as straight messages (not ndjson), and program output will be written to `stdout` through a custom level (value: `100`), e.g. `log.output(csv)`.

First attempt is logging configuration like:

**logger.js**:
[code]

**stderr.transport.mjs**:
[code]

But we know that wo

[2021-10-26 16:22] #1188 closed, assigned to nobody

[2021-10-26 18:08] #1187 closed, assigned to nobody

[2021-10-27 12:39] thw0rted opened #1193 "New bundled TypeScript typings do not expose various top-level exports"
As I commented in #910, the bundled TypeScript type definitions do not allow `import {destination, stdSerializers} from "pino"`, which is perfectly legal code.

Looking at `pino.js` (as shipped in v7.0.5), I see top level exports defined for the following variables:

[code]

Since these can be imported from the module, the typings should include definitions for them, to accurately describe the sha

[2021-10-28 12:05] OliverNChalk opened #1194 "pino.LoggerOptions.level type is incorrect"
Pino exports types for most of its components, however, I have noticed that the optional values in the `pino.LoggerOptions` do not produce 100% type correctness. As an example:
[code]

This code will compile but `pino` will complain about a type error. I believe this is due to the fact the object now has a declared property "level" that can be enumerated over. I don't know of a way to say "you can

[2021-10-28 13:35] IvayloGrahlyov opened #1197 "Pino performance issues"
Inspired by your nodeConf 2021 presentation and based on your performance benchmarks I decided to try to replace the logger used in one of the projects I'm working on with pino. At first I did a simple test app just to compare results and the results did surprise me - the bigger the json payload was the worse was the pino performance against the other logger. You can check this in this [repo](http

[2021-10-29 13:10] #1166 closed, assigned to nobody

[2021-10-29 13:28] #1197 closed, assigned to nobody

[2021-10-30 01:18] replete commented on #1100
`logger.js`
[code]

`logger.colorisedTerminalTransform.mjs` (source in [this gist](https://gist.github.com/replete/3220dd280c60279cee5396c6f65b02dd))
[code]

[2021-10-30 09:55] mcollina commented on #1100
Don't use console.log, use pino.destination() instead (otherwise you loose all the benefit of worker_threads).

[2021-10-30 15:44] replete commented on #1100
![Screen Shot 2021-10-30 at 16 07 24](https://user-images.githubusercontent.com/812139/139538766-b2210379-f13e-47d1-aa1e-c583dea9319a.png)
The documentation gave [an example using console.log](https://github.com/pinojs/pino/blob/master/docs/transports.md)

The 'transport' implementation I wrote above sometimes misses errors, which has been pretty frustrating given I only wrote this transformer bec

[2021-10-30 17:02] mcollina commented on #1100
pino-pretty is _not_ deprecated, only the relative option.

The following would do what you want:

[code]

[2021-10-30 17:42] replete commented on #1100
Thanks Matteo, I'm in this thread because I want to write a custom formatter though, because the prettifiers seem to be over-complicated and under-configurable, apologies for not being clear.

[2021-10-30 17:47] replete commented on #1021
Looks to me like your terminal environment is not escaping those colours correctly. Most term emus have settings for this

[2021-10-30 18:13] #1021 closed

[2021-10-30 18:40] climba03003 commented on #1194
If you need TypeScript to distinguish the different of `optional` and `user input` for the typing. You should enable the flag below.
https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/#exact-optional-property-types

I would say, as the typing provider. It cannot provide on concrete solution on this topic.

[2021-10-30 19:35] replete opened #1200 "Missing log output when using custom transports"
Errors don't end up in `stdout` when using pino-pretty or a custom transport after catching en error (e.g. typical express + mongoose app setup)

The following is the `README.md` from [this issue's repro repository](https://github.com/replete/pino-missing-log-output), which explains the problem:

<hr/>

# Missing log output issue

This repo has three express applications, each identical apart from

[2021-10-30 23:52] mojavelinux opened #1201 "Allow PINODEP008 warning message to be surpressed"
The PINODEP008 warning message is blocking me from being able to upgrade to Pino 7. I prefer not to use the new transports feature in my application at this time, and I'm able to stick with pino.destination/SonicBoom for structured log messages. However, when enabling the prettyPrint option, pino emits the PINODEP008 warning message. This message shows up to end users of my application. Otherwise,

[2021-10-30 23:54] mojavelinux commented on #1201
I propose something like:

[code]

[2021-10-30 23:54] mojavelinux commented on #1201
I'm willing to submit a PR if this proposal is accepted.

[2021-10-31 02:39] jsumners commented on #1201
This issue indicates to me that the warning is serving its purpose. We will remove direct integration with `pino-pretty` as that module is now a `pino@7` compatible transport destination. It is unclear to me why you are unable/unwilling to use it as such.

See https://github.com/pinojs/pino/issues/1106

[2021-10-31 23:26] mcollina commented on #1201
There is no need to undeprecate this. You can continue using pino-pretty with minimal changes, look at https://github.com/pinojs/pino-pretty#programmatic-integration.

[2021-10-31 23:26] #1201 closed

[2021-10-31 23:28] mcollina commented on #1200
If you only need pino-pretty, you could avoid transport and use it directly (see https://github.com/pinojs/pino-pretty#programmatic-integration).

Regarding your example, the problem in your transport is that a single chunk might contain more than one log line and JSON.parse() would convert only the first. Use https://github.com/pinojs/pino-abstract-transport.

You should also not use `console.log

[2021-11-01 00:18] replete commented on #1200
I did implement it like this in the end after realizing it was easier. The problem happens whether using `pino-pretty` or my example custom transport, which I only included as a secondary example.

That's not true at all, it does split lines (and worked fine) (but it's not relevant to this issue, and was only included as a secondary example of the problem, which is going to be a common occurence)

[2021-11-01 07:15] mcollina commented on #1200
There is _nothing_ we can fix here :( as it is a limitation of Node.js core. The problem is in how console.log() works inside transports, which sends data to the main thread before printing them out. Due to your shutdown logic, anything logged in same tick before `process.exit()` will not be logged.

`pino.destination()` does not suffer from this problem. `console.log()` should not be included in

[2021-11-01 20:00] mojavelinux commented on #1201
No. I, the developer, got the message. And, having seen it, I'll start preparing to research and make that transition. In the meantime, there's absolutely no reason users of my application should have to see this message as there's nothing they can do about it.

First of all, it's a deprecation, not a removal. I should be able to continue using this feature as a transition step. I need time to rew

[2021-11-01 20:37] mcollina commented on #1201
Note that you can silence warnings using the [`--no-warnings`](https://nodejs.org/dist/latest-v16.x/docs/api/cli.html#--no-warnings) flag of Node.js. We use the same key mechanism so there is _already_ a crude way to silence the warnings.

You are also not forced to update. Pino@6 stays there and I have not migrated any of my applications yet.

The `pino/file` _is_ `pino.destination()`. It could s

[2021-11-01 20:58] mojavelinux commented on #1201
That also requires end users to do something differently, so that's not an option for me.

I will do so.

Because when I use `prettyPrint` (not `pinoPretty` btw) I get a deprecation warning.

I was not aware I could call it in that way. I will research that to see if it will allow me to continue to use destination + pino-pretty without a warning. I'm not stuck on using the `prettyPrint` option. I

[2021-11-01 21:12] mojavelinux commented on #1201
There seems to be something preventing this from working. When I use the following destination:

[code]

I get:

[code]

The internal transport seems to be tainting the SonicBoom instance somehow.

[2021-11-01 21:32] mojavelinux commented on #1201
There seems to be quite a lot of patching in pino to get pino-pretty to function properly as a destination. Here's the only way I could figure out how to do it:

[code]

I'd be curious to know how to use the pino-pretty function reliably in place of getPrettyStream.

[2021-11-01 21:47] jsumners commented on #1201
I said we _will_ remove it in the next major, not that it is removed, or being removed, in the current major release. That is the _purpose_ of the warning to give you time to deal with it. If you don't like the warnings, use `--no-warnings` or set `NODE_NO_WARNINGS=1` in your environment.

We didn't "spring" anything on anyone. We worked in the open. We issued several release candidates, advertisi

[2021-11-01 21:57] mojavelinux commented on #1201
Given that you're unwilling to add a simple flag to control the deprecation warning, I respectfully disagree that you're providing a reasonable contract with users. This is not a smooth transition, and I have clearly cited why that is the case.

[2021-11-01 22:04] mojavelinux commented on #1201
Yes, you did. You added a new mechanism for log targets (transports) and deprecated the existing prettyPrint integration with a warning that can't be removed programmatically, all in the same major version. That's springing a change on users. The pino@7 release would have been the right opportunity to communicate a major change so that users could begin transitioning for pino@8.

It's not acceptab

[2021-11-01 22:05] jsumners commented on #1201
I stand corrected. Just tried it with the following and the warning shows 😕

[code]

[2021-11-01 23:10] #1200 closed

[2021-11-02 16:09] #1175 closed

[2021-11-03 00:50] runk commented on #1121
I've had the same issue, however mostly around the size of the log and into how much money it translates. Been using https://github.com/runk/dtrim for quite some time - it covers all scenarios where you'd expect huge amounts of data to be logged: array, nested objects, buffers, big strings. Would be nice to see it used it in pino, or have similar functionality for truncating lengthy structures.

[2021-11-03 11:12] dariolongo commented on #903
Hi,
First of all, thanks for Pino!

Hope this can help others...

Using the timestamp function and browser.asObject true:
[code]
it's ok on stdout:
[code]

but it's not totally correct in the browser:
<img width="558" alt="Schermata 2021-11-03 alle 12 02 08" src="https://user-images.githubusercontent.com/16292050/140049186-77c7eae2-b42e-4d62-975e-59f47294296e.png">

Using this:
[code]
work well fo

[2021-11-03 23:05] mcollina commented on #1201
It's now possible to pass custom sonic-boom instances as destination to pino-pretty stream factory. This will not work through `pino.transport()`.

[2021-11-03 23:57] mojavelinux commented on #1201
I'm able to verify I can configure pino pretty as a destination.

[code]

Thanks for applying that fix.

I'm now convinced that this arrangement is better than the deprecation warning as it keeps the two concerns separate. Thanks again.

I will still follow-up with the support for mkdir and append on transports, but that's now a parallel concern.

[2021-11-05 13:16] cybemachine opened #1210 "pino not uninstalling"
the pino folder dosen't remove using yarn remove pino and gives a EPERM: operation not permitted, lstat 'path\\node_modules\\pino'

[2021-11-05 13:20] cybemachine commented on #1210
yarn-error.log

Yarn version:
  1.22.17

Node version:
  16.6.1

Platform:
  win32 x64

Trace:
  Error: EPERM: operation not permitted, lstat 'D:\main\important\coding\discord\node_modules\pino'

[2021-11-05 13:20] cybemachine commented on #1210
yarn-error.log

Yarn version:
  1.22.17

Node version:
  16.6.1

Platform:
  win32 x64

Trace:
  Error: EPERM: operation not permitted, lstat 'D:\main\important\coding\discord\node_modules\pino'

[2021-11-05 13:21] mcollina commented on #1210
How did you install pino? This has nothing to do with pino but what you did to install it.

[2021-11-05 13:21] #1210 closed

[2021-11-05 15:46] ford-prefect opened #1211 "Ability to add mixins in child loggers"
Just exploring the pino API for our usage here, and one early thing I see that might be useful is to have mixins in a child logger. Is this something that would be accepted upstream, or is this something that was explicitly omitted as a bad idea?

One problem I can imagine is that if the mixin needs to be an override, this might be surprising for users of the API (but this could have an explicit d

[2021-11-05 17:45] devonhumes opened #1212 "`formatters.bindings` are not called when creating a child"
I'm probably misunderstanding something, but the docs for `formatters.bindings` [state](https://getpino.io/#/docs/api?id=bindings)
[code]
I understand this to mean that when `logger.child` is called the option for `binding` on the parent is called and the result is then used as `bindings` in the child. However, the code will only run a binding function when passed into the call `logger.child`

Exa

[2021-11-05 20:41] mcollina commented on #1212
Good spot! What do you think should happen if a formatter is passed both to the child and the parent?

Anyhow..
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-05 20:44] mcollina commented on #1211
I think this is a bad idea, but likely thhe change to implement it is minimal.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-05 21:28] devonhumes commented on #1212
I would say that the parent formatter should be run for the child and the child formatter to be run if anyone calls `.child` on the child logger.

[2021-11-05 22:00] mcollina commented on #1212
A PR would be nice

[2021-11-06 11:38] ford-prefect commented on #1211
Thanks @mcollina! Is it worth implementing if it is a bad idea? I can find alternatives for our use (reconstruct a child when context changes, which is not that often), if this would have performance or other impacts.

[2021-11-06 16:14] mcollina commented on #1211
I think your solution would be better if the context does not change often.

[2021-11-06 16:14] #1211 closed

[2021-11-06 16:41] ford-prefect commented on #1211
Thank you for the feedback and the work on the library!

[2021-11-08 15:02] Saeger opened #1213 "Should formatters and timestamp be done with transport?"
Hi,

When reading documentation, it's stated that reformatting should be done using transports for taking the benefit of workerThreads for performance reasons.
As stated:

So my question from it like: How should we handle simple formats to level and timestamp for example?

Here's a sample code:

[code]

If so, how one should handle such situation here?
Additionally, is pino using worker threads un

[2021-11-08 21:35] hmorey3 commented on #1079
I have this same issue with webpack and am eager to see it resolved

[2021-11-09 06:23] fang-guang opened #1214 "Cannot find module '/xxxxx/worker_threads'"
when i update version latest throw error of this
![image](https://user-images.githubusercontent.com/45454404/140872875-81d1f6fb-2d8a-4d18-8a36-ebc171652c0a.png)

when i lower version in 6 is fine

[2021-11-09 08:00] mcollina commented on #1214
worker_threads is part of Node.js.

Can you include a full example to reproduce your problem?

[2021-11-09 08:30] mcollina commented on #1213
I don't understand the question :(. Can you clarify? Is the doc not covering this well enough? What is missing? the sample code looks ok.

What situation?

No it is not, you need to set it up.

[2021-11-09 10:51] KoltesDigital commented on #1193
`import type {Logger} from "pino";` worked in 6.x but not in 7.x anymore. Bringing it back should be a _patch_ ... and of course I'd like to have it released as soon as possible so that I don't have to temporarily switch to P 🤗 . I guess many users of this library are in this case. I also think you can leave P with a deprecated mention, I guess few users switched.

FTR I found this thread because

[2021-11-10 08:28] Unga commented on #1104
Why do you recommend not doing bundling?

[2021-11-10 08:42] targos opened #1215 "Test issue in CITGM"
See https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2791/nodes=fedora-last-latest-x64/testReport/junit/(root)/citgm/pino_v7_1_0/

[code]

[2021-11-10 09:03] mcollina commented on #1215
This is node v17, correct? https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2791/#showFailuresLink

[2021-11-10 09:20] targos commented on #1215
Yes. I don't know if its v17-specific though.

[2021-11-10 09:47] mcollina commented on #1104
It's not needed and it complicates debugging and resolving production issues.

[2021-11-10 10:28] #1104 closed

[2021-11-10 10:28] #1164 closed

[2021-11-10 14:15] ShogunPanda commented on #1079
Hello, we just have landed the support for this in #1209 and we also now created the [pino-webpack-plugin](https://npm.im/pino-webpack-plugin) which should solve your need. Note that you need to update to pino 7.2.0 to have this working.

Can you please let us know if it worked?

[2021-11-10 14:18] #1079 closed

[2021-11-10 16:45] hmorey3 commented on #1079
@ShogunPanda Thanks for the update! I'm running into some issues, but it might be an issue with my setup. Webpack compiles with no errors, but when I try to try to run `node dist/main.js` I get an error.

Error:
[code]

This is my webpack config:
[code]

[2021-11-11 10:09] ShogunPanda commented on #1079
@hmorey3 I've tried on my system and it works fine. Note that I had to remove `cache-loader` since it's not supported/neeaded for webpack 5.

Here's my webpack.config.js:

[code]

And here a sample `src/main.ts` I created:

[code]

Do you mind sharing your `package.json` and `tsconfig.json`?

[2021-11-11 15:57] royhamulak opened #1217 "Pino v7 trasnports + AWS lambda"
When trying to log on AWS lambda with the new trasnports api logs are being lost.

I'm using multiple transports for the logger, one of them being `pino/file` which is responsible for the `stdout` logs

this is the gist of my configuration:
[code]

when calling `logger.info('blah')` with the above setup, it seems that nothing registers to the stdout of the lambda.

I looked at some of the document

[2021-11-11 16:17] hmorey3 commented on #1079
@ShogunPanda Thanks for the quick reply

My tsconfig
[code]

My package.json
[code]

My pino logger setup
[code]

[2021-11-12 07:59] Retro64 commented on #1193
I stumbled over the same lost exported top-level Logger type when upgrading to the new version. I agree it should be a patch, as adding another top-level export does not mean the export within the namespace P needs to be dropped. It - for sure - becomes redundant, but won't be breaking (as it is for now for people, blindly upgrading the dependency to 7.x).

[2021-11-12 08:26] cybemachine commented on #1210
ok i used yarn add pino

[2021-11-12 09:08] ShogunPanda commented on #1079
So...everything seems to be there.
Your `dist/main.js` should have a content like this at the beginning:

[code]

(which might differ slightly since you are on Windows)

Can you please copy it here?

[2021-11-12 14:24] hmorey3 commented on #1079
Interesting, some slashes in my paths seem to be missing
[code]

[2021-11-12 16:24] arbourd commented on #682
Thanks for the link and context here though David. Google suggest this issue first 😅

[2021-11-15 08:09] climba03003 opened #1218 "transport always throw `the worker has exited`"
It is a bit late for this regression report. It may not be the problem of `pino` but it start failing my test case after `pino@7.0.5`.
The transport I use actually the mutated version of `pino-mongodb`. I add the feature to clean the logs for development environment.

[code]

The problem is actually `thread-stream` always throw the error `the worker has exited`. I run out of idea why it happens, s

[2021-11-15 09:07] climba03003 commented on #1218
I see the problem, it is `mongodb.close` used too long to fire the `callback`.

[2021-11-15 09:07] #1218 closed

[2021-11-15 16:13] voxpelli commented on #1215
The cause seems to be a timeout.

I opened #1219 to clarify the error message and I would propose raising the timeout from 2 seconds to something more to see if that helps.

[2021-11-15 16:20] mcollina commented on #1215
seems valuable!

[2021-11-16 06:56] mojavelinux opened #1221 "Add mkdir option to pino/file transport"
Like SonicBoom, it would be helpful if the pino/file transport provided a `mkdir` option to instruct the transport whether to ensure the directory of the destination file exists before attempting to open it for writing.

Consider the following script:

[code]

Assuming this is run in a fresh directory that does not contain a `logs` folder, this code results in the following exception:

[code]

The

[2021-11-16 06:59] mojavelinux opened #1222 "Add append option to pino/file transport"
Like SonicBoom, it would be helpful if the pino/file transport provided an `append` option to control the mode the transport uses when opening the file. The default would remain as "a" (append). If this option is set to `false`, the mode would be changed to "w" (truncate and write).

Consider the following script:

[code]

Each time this script is run, a new log message is appended. The proposed `

[2021-11-16 07:03] mojavelinux commented on #1222
When I first wrote this issue, I had the logic backwards. I incorrect wrote that the default mode is write. The default mode is append. This option would allow the mode to be changed to write.

[2021-11-16 07:09] mojavelinux commented on #1222
Implementing this option is a matter of forwarding it to pino.destination in file.js.

[2021-11-16 07:09] mojavelinux commented on #1221
Implementing this option is a matter of forwarding it to pino.destination in file.js.

[2021-11-16 07:14] mojavelinux commented on #1201
I have successfully integrated pino@7 into my application with very little change...and the right change at that. Thank you again Matteo and James for helping to ease the transition after my initial report. I'm grateful for the work that you do.

I have filed the follow-up issues about the append and mkdir options, as promised. See #1221 and #1222. I will submit matching PRs for your review. Fortu

[2021-11-16 08:23] mojavelinux commented on #1222
I'm going to hold off on submitting a PR for this until #1221 is complete to avoid conflicts.

[2021-11-16 10:21] JaneJeon commented on #1182
Hey uh, any update on this? Thanks

[2021-11-16 10:42] mcollina commented on #1182
Not really but if you would like to send PR it would be mostly welcomed.

[2021-11-16 10:55] JaneJeon commented on #1182
Sorry, just wanted to see if the issue has been long-forgotten and was out of your mind

[2021-11-16 10:59] JaneJeon commented on #1182
I don’t know if I’m reading the mood correctly but please don’t be offended, my goal wasn’t to prod you into doing things!

[2021-11-16 11:01] mcollina commented on #1182
I'm not working on it. It's in the backlog, maybe one day we'll get to it.

[2021-11-16 11:56] jsumners commented on #1201
Glad it's working for you.

[2021-11-17 06:41] ShogunPanda commented on #1079
That's very weird. Can you please execute: `console.log(require('path').sep)` in a node shell and tell me if it outputs something?

[2021-11-17 16:34] davidmarkclements commented on #1221
I think this is a good idea

[2021-11-18 02:42] michael-melodyarc opened #1227 "Creating/using an in-memory pino logger instance"
I'm not sure if in-memory is the most correct terminology, but hopefully a quick explanation will suffice.  I have a use case where we're essentially letting a user define a mini plugin, which our main app then calls a handler function from.  I'd like to pass a pino logger instance to the plugin, but I don't want the output to go to `process.stdout` or a file.  Instead, I'd just like to wait for t

[2021-11-18 08:37] mcollina commented on #1227
I would use a `split2` instance instead of a `Transform`... but that's the generic idea.

[2021-11-18 08:37] #1227 closed

[2021-11-18 08:59] #1221 closed

[2021-11-18 10:18] #1222 closed

[2021-11-18 17:53] jarstelfox commented on #997
Hey @tommy-v,

Take a look at https://stackoverflow.com/questions/29085197/how-do-you-json-stringify-an-es6-map. In short, Maps are not easily turned into json.
[code]

You will likely need to handle this edge case in logging yourself. If you have a 1D Map then `JSON.stringify(Array.from(map.entries()));` works great.

---

I suspect this may always be the case with pino. It's up to the developer

[2021-11-18 17:54] #997 closed

[2021-11-18 19:55] humphd opened #1232 "Clarify exit logging strategy in node 14+ if not using pino.final"
#1199 added a deprecation notice for `pino.final` in node 14+.  However, it's unclear (to me) what you should do instead, since the official docs still recommend it for [exit logging](https://getpino.io/#/docs/help?id=exit-logging).

Could the docs be clarified?

[2021-11-18 19:57] jsumners commented on #1232
Use Node v16 or greater is the intention.

[2021-11-18 20:05] humphd commented on #1232
@jsumners I'm confused, since 16 is also going to trigger this warning, is it not?

[code]

If I'm using node 16+, are you saying that I should continue to use `pino.final` as written in the docs?

[2021-11-18 20:15] jsumners commented on #1232
Sorry. I misread. You should be switching to using `pino.destination`, I believe. And it looks like we need a doc update.

@mcollina can verify these guesses.

[2021-11-18 21:16] hmorey3 commented on #1079
@ShogunPanda it outputs a backwards slash
![image](https://user-images.githubusercontent.com/26440784/142497942-b81b3eac-1376-40d1-a56e-ff0f9cda5beb.png)

[2021-11-21 17:13] rokku-x opened #1237 "Pino with transports not compatible with pkg"
I have included all the worker scripts in scripts list in pkg.
But I still can't run the app when packaged due to the incompatibility of the real-require which is part of the pinojs modules

This is the error I get:

TypeError: Invalid host defined options
    at eval (eval at <anonymous> (C:\snapshot\test\node_modules\real-require\src\index.js:4:20), <anonymous>:3:1)
    at start (C:\snapshot\tes

[2021-11-22 08:01] mcollina commented on #1237
I would recommend you to take a look at https://github.com/pinojs/pino-webpack-plugin and how it works.

I _think_ you'll need to do something similar for pkg. Unfortunately we do not have the bandwidth to explore how to do it for every bundler out there.

[2021-11-22 10:10] ShogunPanda commented on #1079
Which seems correct.
Can you provide a minimal version of your `src/main.ts`? If you include pino from another file, please provide both, respecting the folder structure.

[2021-11-25 17:06] mcollina commented on #1215
CITGM run for pino: https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2794/

[2021-11-26 15:19] mcollina commented on #1232
`pino.final()` is not needed in node v14+ and it is deprecated. Internally we use https://github.com/mcollina/on-exit-leak-free to set up things automatically. Essentially it will automatically call `flushSync()` before your process exits.

I'll update that piece of doc.

[2021-11-26 15:50] humphd commented on #1232
Thanks for the clarification and doc update.  This is helpful.

[2021-11-26 16:56] #1232 closed

[2021-11-26 18:01] aduponchel opened #1241 "`Error: end() failed` when using multiple instance of pino (default 'pino/file')"
* **OS**: WSL 2 through W10
* **Node**: v16.13.0
* **npm**: 8.1.0
* **pino**: 7.4.1

I have created the smallest code possible to reproduce easily.
My use case is more complex.
What I would like is :
* a main logger that will log into STDOUT and a log file and errors in a specific log file
* a child logger that will log into STDOUT and a log file different from main
* main.log() should not write i

[2021-11-26 18:02] aduponchel opened #1242 "`Warning: File descriptor 1 closed but not opened in unmanaged mode` when using default 'pino/file'"
* **OS**: WSL 2 through W10
* **Node**: v16.13.0
* **npm**: 8.1.0
* **pino**: 7.4.1

The warning `(node:24819) Warning: File descriptor 1 closed but not opened in unmanaged mode` is displayed when using Pino with default `pino/file` transport. I don't have this warning displayed while using pino with no transport.
UnfortunateIy need multiple transport, so I cannot use pino without transport parame

[2021-11-26 20:22] mcollina commented on #1242
I'm aware of this warning. I would say it's not a problem to worry about but I'd need to investigate this further.

[2021-11-27 14:27] #1193 closed

[2021-11-28 10:59] mcollina commented on #1241
This looks like a bug on our end as should terminate cleanly.

However I think you should refactor your code to only have one main logger or have two logger writing to different destinations.

[2021-11-29 10:36] oddeirik opened #1243 "V7 transports and Typescript"
I've tried creating a super-simple wrapper for using pino-seq with the new worker thread transports introduced in Pino v7, but it looks like this won't work right out of the box, at least not with the setup we're running.

Pino logger transport config:
`transport: { target: path.join(__dirname, 'pinoSeqStream.js') }`

And the transport itself:
[code]
This transpiles into the following:
[code]

Whe

[2021-11-29 10:58] oddeirik commented on #1243
I just realized I can circumvent the whole file/module loading by using the destination argument directly in pino, but will that spawn a worker thread or will it just do in-process logging?

[code]

I'm a little confused about the differences between transport and destination in pino, tbh 😅

[2021-11-29 11:49] davidmarkclements commented on #1243
A destination is *main thread*. We don't recommend applying log processing in the main thread, as this uses up valuable event-loop cycles that will affect your apps performance.

A transport is a *worker thread* - logs are written to a shared array buffer, where they are picked up in the worker thread and then processed accordingly. This applies the least pressure to the main thread event loop, me

[2021-11-29 13:27] kibertoad commented on #1193
Released in 7.5.0

[2021-11-29 14:17] oddeirik commented on #1243
So I kind of got it working, although using the pino-seq package wrapped directly didn't work (no idea why, it just logged to stdout instead), so I ended up rewriting it as a separate function which returned a regular writable (pino-seq does a `class PinoSeqStream extends stream.Writable` instead):

[code]
That last line is apparently the trick to tell tsc to do cjs style exports. Probably a 'duh'

[2021-11-29 14:25] mcollina commented on #1215
@voxpelli @targos it seems going better now. Could I close this? Or would you still work from our end?

[2021-11-29 14:27] targos commented on #1215
seems ok from my pov

[2021-11-29 14:44] #1215 closed

[2021-11-29 23:16] wrn0 opened #1245 "hooks not working in browser? Alternatives to override function?"
I want to extent some logging without rewriting my project, I'm very thankful for pino there because it supports the hooks for that.

Unfortunately it does not seem to work in the browser.

[code]

The webpack config is normal, pretty much the default one. I can upload a full minimal example project if you need proof - should the hooks work in the browser or is this not supported yet?

If it's not

[2021-11-29 23:23] wrn0 commented on #1245
Should've clicked the remark to the browser API at https://github.com/pinojs/pino/blob/4b0009e9f20ebb29e3d8dffb310457c5916bed6b/docs/browser.md#write-function--object

Thank you for making this

[2021-11-29 23:23] #1245 closed

[2021-11-30 15:59] dflor003 commented on #1243
I was just getting this error as well.

Around line 21 in `thread-stream/lib/worker.js` it tries to find the default export like so:

[code]

After some troubleshooting and adding log statements to the `thread-stream/lib/worker.js` file, what I noticed is that if you have your transport like the following:

[code]

The object structure you get after `realImport` does its thing is something like:

[2021-11-30 16:03] mcollina commented on #1243
Something you could do is to open a PR that can handle the "double nested default".

[2021-11-30 16:09] dflor003 opened #1248 "Question: Transform entire log JSON format"
Hi! We're trying to leverage pino logger at a large enterprise with a very specific logging JSON format that needs to be sent to STDOUT and STDERR in order to be scraped by our PaaS system and processed by the ELK stack.

Looking through the docs, I see that you can use formatters to transform individual pieces of the logs. However, in our case, this would not be sufficient. Is there anything in t

[2021-11-30 16:51] mcollina commented on #1248
The best approach is to develop a custom transport that make it suit your needs, see https://getpino.io/#/docs/transports.

[2021-11-30 22:53] craigmcc opened #1250 "Release Frequency"
I totally appreciate all the effort that you folks spend on adding things, fixing things, and making Pino better.

I totally do NOT appreciate the number of different releases from Pino in the last few weeks.  Anyone who has Dependabot alerts on their GitHub projects (like I do), for example, is getting totally inundated with notifications and pull requests.  Any of them that might actually be app

[2021-11-30 22:54] jsumners commented on #1250
Thank you for the input. You are welcome to track releases at your own cadence by tweaking the tools you use.

[2021-11-30 22:54] #1250 closed

[2021-11-30 22:58] kibertoad commented on #1250
@craigmcc I feel your pain. As @jsumners has put it, if you find notifications excessive, you can configure Dependabot to check for updates on a less regular basis, e. g. weekly. Unfortunately, we cannot reduce the cadence of releases, because that would mean that some of our users, who might be dependent on certain upcoming features or fixes, might get blocked. When weighed against (mild and solv

[2021-12-01 02:21] craigmcc commented on #1250
As you undoubtedly know, lowering the Dependabot check frequency does so
for *all* checks, not just this one.  That's not acceptable to me.

I will just train myself to ignore things from Pino.  Especially for a
dot-dot release for a documentation change.

On Tue, Nov 30, 2021 at 2:58 PM Igor Savin ***@***.***> wrote:

[2021-12-01 09:41] phracek opened #1252 "Tests are failing on pino client"
In our container s2i-nodejs-container tests are failing: https://github.com/sclorg/s2i-nodejs-container/issues/302

I see in your actions, that CI is failing too https://github.com/pinojs/pino/runs/4371438895?check_suite_focus=true

[2021-12-01 09:42] phracek commented on #1252
See error traceback:

[code]

[2021-12-01 10:53] climba03003 commented on #1252
It should be fixed in `pino@7.5.1` which is cause by `jest`.

[2021-12-01 11:00] #1252 closed

[2021-12-01 12:51] kibertoad commented on #1250
@craigmcc Check this Dependabot option: https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates#ignore

[2021-12-01 13:26] #1242 closed

[2021-12-01 13:26] #1241 closed

[2021-12-01 15:59] EdisonHarada commented on #1243
@oddeirik @dflor003 Did you guys by any chance managed to make it work locally?

With both options of adding `module.exports = myTransport` and `export =  myTransport` worked after I build it, but not locally.

[2021-12-02 08:58] EdisonHarada commented on #1243
@oddeirik Sorry when I said build it was related to compiling the typescript code to js.

So currently I'm using ts-node to run it locally, but for some reason even exporting in the way that you mentioned doesn't work, but after compiling it with `tsc` it works.

I was just wondering if you guys managed to make it run.

In my setup I have the `transport.ts` file
[code]

And the `logger.ts` that I

[2021-12-02 09:36] oddeirik commented on #1243
I don't know how ts-node works, but if it's just a "wrapper" that first runs tsc and then node, I guess it should work just like when doing it manually. Are you getting errors about the function/export itself or is it an issue loading the file itself? If it's the latter, it's probably a matter of paths and where the file actually resides when executing it via ts-node.

Maybe try using path.join an

[2021-12-04 11:12] mcollina commented on #1243
@kibertoad maybe you can help here.

[2021-12-04 13:32] kibertoad commented on #1243
sure, I can take a look tomorrow

[2021-12-04 19:13] EdisonHarada commented on #1243
@oddeirik I checked here and without the extension and it works fine :) (when I use ts-node to run it actually try to find the file with .ts and in runtime it tries to find the .js file).

As I'm using some custom transports that will be shared between some internal projects I created a package with the transport, so it works fine locally with ts-node and also after compiling it as the package is

[2021-12-07 00:56] rokku-x commented on #1237
I already have made a fix. It involves two of the modules used in pino. Will post a PR soon.

[2021-12-07 01:50] mojavelinux commented on #1250
As a user of pino myself, I do not agree with this compliant. I think frequent releases are good as it keeps the project healthy. That fact that the concern relates to the behavior of separate software makes it even more off base for me. I've long held that dependabot has very poor defaults and the problem is really with dependabot. I support the decision of the pino developers to make regular rel

[2021-12-07 03:09] rokku-x commented on #1237
@mcollina  I made fixes with real-require, thread-stream, and this.

The patches with real-require is needed because loading real-require module itself crashes the app immediately.

I do not know if the fix I made will break something.

Please Help Me check. Thank You.

[2021-12-08 08:55] shahinghasemi opened #1255 "TypeError [ERR_INVALID_ARG_VALUE]: The argument 'filename' must be a file URL object, file URL string, or absolute path string. Received undefined"
Hi, this is the code below:
[code]
and this is the error that throws when `webpack` command executes:
[code]
If you want any further code/description let me know.

Thanks in advance.

[2021-12-08 09:04] phracek opened #1256 "prom-client test suite failed"
See traceback from our test suite:

[code]

[2021-12-08 09:30] mcollina commented on #1255
Have you followed the guide at https://github.com/pinojs/pino/blob/master/docs/bundling.md? If so could you upload a full repository with a complete way to reproduce?

[2021-12-08 09:32] mcollina commented on #1256
I'm sorry but I think you opened it too the wrong repo. We have nothing to do with prom-client.

[2021-12-08 09:32] #1256 closed

[2021-12-08 11:29] phracek commented on #1256
Correct. I have passed the wrong logs.

[2021-12-08 11:29] phracek opened #1257 "pino test suite failed on legacy-code-todo-rewrite/jestAdapterInit.js"
See traceback from our test suite:

[code]

[2021-12-08 11:52] shahinghasemi commented on #1255
@mcollina  Thanks for the reply. I just followed them and the previous error is now gone! however I encountered a new one. this is the code to reproduce:
`webpack.config.js`:
[code]
`./pino/logger.js`:
[code]
`package.json`:
[code]
First I executed `npm run webpack` then the bundles are generated inside `dist` directory: `main.js`, `pino-file.js`, `pino-pipeline-worker.js`, `pino-worker.js`.
Final

[2021-12-08 11:55] mcollina commented on #1255
You are missing a `target: 'node'` in your webpack config.

Would you mind to verify everything works and send a PR to our docs to specify this is needed? Thx!

[2021-12-08 11:58] mcollina commented on #1257
I can't reproduce this failure. Maybe you have some stale dependencies?

[2021-12-08 11:59] shahinghasemi commented on #1255
Sure but the error still exists even adding `target:node`:
[code]

[2021-12-08 12:09] phracek commented on #1257
Some more information:
[code]

[2021-12-08 12:45] phracek commented on #1257
See full log here: http://artifacts.dev.testing-farm.io/b3a01fd3-9c31-4c91-a6c1-8419a5cab654/work-fedoraSHIDbo/log.txt

[2021-12-08 12:51] jsumners commented on #1257
Please provide a minimal reproduction. We do not see this error in our CI.

[2021-12-08 12:53] Ali-Hussein-dev opened #1258 "adding Pino to global"
Is there is an issue if I call `pino` and add it to the `global` so that I do not have to import it in every file and call it?
I am a frontend dev!
[code]

[2021-12-08 13:01] jsumners commented on #1258
This is not a recommended practice. Sharing global state means it is indeterministic what the status of that state is. Basically, you must make sure the global state is built the same way _always_ and is never mutated. At a minimum this makes testing difficult. More drastically, it can make the application behavior unpredictable and the code base difficult to maintain. See https://softwareengineer

[2021-12-08 14:17] phracek commented on #1257
On Fedora 34, clone this repository and call commands:

or only `npm test` in the cloned directory

[2021-12-08 17:30] mcollina commented on #1257
I do not have a Fedora environment available or the time to create one unfortunately :/.

This looks like to be specific to Jest and Fedora... something that is a very complex setup to preproduce and maintain support for.

If you want I can create a new npm task for you to just run the tap test (no types and no jest) so that you can have more stable builds.

[2021-12-08 19:01] mhdawson commented on #1257
I ran on a Fedora 34 machine with nodejs 12. I don't see any failures. We'll need more help to recreate the problem.

If you have a machine that you can reliably recreate on and can give me access that might help, as it does not fail on my Fedora 34 machine. What I did was

* install git and nodejs 12 with
  * yum install git
  * yum module install nodejs:12
* cloned the pino repository
* cd pino

[2021-12-08 19:46] punkish opened #1260 "using pino.multistream with synchronous logging"
from what I understand, Pino (v 7.5.1) by default does sync logging. From the docs

I am using `pino.multistreams` like so

[code]

Strangely, Pino is behaving asynchronously. I have a `curl` operation that is outputting out of sequence (before earlier events that are using `log.info`)

[code]

and my `console` output is

[code]

this is a bit annoying and confusing. Maybe this is not the fault of

[2021-12-08 19:53] mcollina commented on #1260
I can see why that sentence can be confusing: by default pino using `pino.destination()` configured to log synchronously. Then you are using multistream, which is not the default.

Note that multistream can only be asynchronous (by its nature).

[2021-12-08 19:55] #1257 closed

[2021-12-08 19:55] punkish commented on #1260
thanks for the explanation. Do you have any guidance for me how I can log (using pino) to multiple destinations  and still do it synchronously? If it is not at all possible then I will have to think of some other logging strategy.

[2021-12-08 20:24] punkish commented on #1260
ok, setting multiple `targets` in the `transport` achieves the same effect as with `multistream` but is also asynchronous. I guess I just have to use some other logging method (speed is not important here for me, but synchronous logging is)

[code]

[2021-12-08 20:40] #1260 closed

[2021-12-09 08:07] phracek commented on #1257
But it was tested with nodejs 14.

[2021-12-09 08:47] mcollina commented on #1258
I would even recommend against using the global cache (for mostly the same reason.

[2021-12-09 08:51] mcollina commented on #1255
Please provide a full example to reproduce your problem.

[2021-12-09 20:01] mhdawson commented on #1257
@phracek ok I did not see which node.js version in the posts above. Unfortunately I just retried on the same machine using `yum module install nodejs:14` and all the tests still seem to pass.

[2021-12-10 13:52] ronag opened #1261 "Dropping chars"
e.g.

[code]

Notice the part:

[code]

Should be:

[code]

Missing:

[code]

We have other examples where a few chars seems to be missing.

[code]

[code]

Running in docker with `node:16.13.1`

The logs come directly from the console log, i.e. no file or anything involved.

[2021-12-10 13:55] ronag commented on #1261
@mcollina FYI

[2021-12-10 14:02] jsumners commented on #1261
Could this be due to the async buffer getting full and truncating lines? https://github.com/pinojs/thread-stream/pull/40#discussion_r738870485

[2021-12-10 14:03] ronag commented on #1261
Could be

[2021-12-10 14:05] ronag commented on #1261
Do we go through thread-stream even when writing to stdout? That seems unnecessary?

[2021-12-10 14:18] ronag commented on #1261
If it thread-stream is in play here I suspect an issue with the overflow logic.

[2021-12-10 14:43] mcollina commented on #1261
I think something that would help is a script to replicate the problem. I've tested this at the best I could and there is a test that writes a lot of data triggering the overflow multiple times.

[2021-12-10 14:47] ronag commented on #1261
I haven't managed to create a repro yet... However, the following code is very suspicious:

https://github.com/pinojs/thread-stream/blob/main/index.js#L216-L226

There is a case here where if `flushing` we append to `buf` even if it will exceed `MAX_STRING`.

[2021-12-10 17:39] mcollina commented on #1261
That code is essentially correct. In case the string exceed MAX_STRING, it triggers a writeSync with the current content of the buffer. writeSync then empties the buffer. Finally we add the new content to append to the Buffer.

[2021-12-10 17:55] ronag commented on #1261
I think you are missing the flushing check?

[2021-12-10 18:23] ronag commented on #1261
i.e.

[code]

[2021-12-10 18:37] ronag commented on #1261
See test/string-limit-2.test.js in https://github.com/pinojs/thread-stream/pull/55/files

[2021-12-10 18:40] ronag commented on #1261
I'm not sure this is the problem I'm encountering in production but it's still something.

[2021-12-11 06:14] shahinghasemi commented on #1255
Hello @mcollina , please clone this: https://github.com/shahinghasemi/pino-transport-bug

[2021-12-14 04:07] igalarzab opened #1263 "Adding attributes to the msg"
Hi 👋 ,

First of all, thanks for the library, I love it! 😄

Is there any way to include the attributes of a message inside of the `msg` key, apart from including them as normal fields of the JSON output?

This:

[code]

would generate

[code]

And if there is no current way... would you accept a patch implementing the feature?

[2021-12-14 09:53] ja-bravo commented on #1255
I can reproduce the error with the repository above, I'm going to investigate

[2021-12-14 10:25] mcollina commented on #1263
See https://getpino.io/#/docs/api?id=interpolationvalues

[2021-12-14 10:25] #1263 closed

[2021-12-14 15:16] galbeinx opened #1266 "The-cost-of-logging"
when implementing this tutorial: https://www.nearform.com/blog/the-cost-of-logging/
I'm getting that the Winston is Faster than the Pino with a number of requests, please, can you advise?

I'm using Pino version 7.5.1, Winston version 3.3.3

[2021-12-14 16:59] mcollina commented on #1266
That is a pretty old blog post. The new version of pino use synchronous logging by default to priotize safety and avoid memory issues. Therefore you could have lower performance if your destination/disk is slower (the terminal is very slow). You'd need to enable asynchronous logging to see all the performance benefit.

[2021-12-15 00:48] hp8wvvvgnj6asjm7 commented on #1243
This is how I use worker_threads with various startup methods

[code]

[2021-12-15 11:02] ja-bravo commented on #1255
I could not find exactly what the error is but I think it's actually related to  `pino-webpack-plugin` and eval.

You can get the repo linked above by changing the webpack config to either match the one used in [their tests ](https://github.com/pinojs/pino-webpack-plugin/blob/70aee6746c31544729c6e85ef388a1c2ab04df7d/test/index.test.js#L21-L37)i.e: `mode: production`, `optimization: { minimize: fal

[2021-12-15 12:50] #1266 closed

[2021-12-15 13:00] gdorsi commented on #1255
Hello!

I've added [a test case](https://github.com/gdorsi/pino-webpack-plugin/commit/7fc4154793a6f1e7e5dd59e6c9a66020f08c60eb#diff-f9e31edd36ae73fc163cad9509b2bc91683aed93b143b35f4c66d6ad4e74b2cfR23) on pino-webpack-plugin and found that marging [this](https://github.com/pinojs/pino/pull/1196/files) would solve the issue.

As a quick workaround you could also try to add `caller: __filename` to th

[2021-12-15 13:17] jsumners commented on #1257
Without a reproduction, there isn't anything we can do.

[2021-12-15 13:47] simoneb commented on #1255
I guess @ShogunPanda was probably aware of this issue then. Good that we have that one issue. So once that is in this issue is probably solved as well

[2021-12-15 16:59] #1255 closed

[2021-12-15 17:06] mcollina commented on #1243
Would you like to send a PR to add support for the above to https://github.com/pinojs/thread-stream/blob/2dd56b633d32a2cd8f2096f46b97cbed9e537662/index.js#L50?

[2021-12-16 01:38] dhalbrook opened #1268 "V7 leaves around open handles in Jest tests"
This isn't a bug per se, but just to note that V7 of Pino relies on the "thread-stream" library, which will leave open handles around during your Jest CI loop.

We got around it by simply mocking 'thread-stream' like so:

`jest.mock('thread-stream');`

but ideally it would be possible to add a config option to the pino constructor to bypass this library's use.

[2021-12-16 07:58] mcollina commented on #1268
Can you please upload a full repro? If you are not using transports this should not happen.

(Transports are shut down when the GC runs, so you are good and there are no leaks).

[2021-12-16 13:44] viheikki opened #1269 "Remove dependency to fastify-warning ^0.2.0"
The fastify-warning package pino v. 7 depends on has the version number 0.2.0, which according to semver indicates it is in development and not meant to be used by external packages.
The way fastify-warning is used by pino in deprecations.js could be easily replicated with a few lines of custom code, thus removing a dependency to a pre v. 1.0.0 package.
Furthermore, the dependency in Pino is set t

[2021-12-16 13:47] mcollina commented on #1269
Why?

[2021-12-16 13:59] jsumners commented on #1269
I agree that `fastify-warning` should be bumped to v1.0.0. I do not agree we need to duplicate its code in order to get there.

[2021-12-16 14:10] viheikki commented on #1269
The fastify-warning package pino v. 7 depends on has the version number 0.2.0, which according to semver indicates it is in development and not meant to be used by external packages. That should be reason enough combined with the dependency pegged to ^0.2.0 that is just begging for trouble.

[2021-12-16 14:18] mcollina commented on #1269
It's just a version number. We maintain both things so it's not going to be a problem.

[2021-12-16 14:37] viheikki commented on #1269
Regardless of who maintains what package, if the package is published in npm, it should follow the semver rules. (Notable exception being @types/packages and similar).
See https://semver.org/

[2021-12-16 16:08] dhalbrook commented on #1268
I'm running jest using these arguments:

`cross-env NODE_ENV=test jest --runInBand --detectOpenHandles --verbose`

Here's an example of a stack trace:
[code]

[2021-12-16 16:24] dhalbrook commented on #1268
OK, I tracked down my issue.  I had "pretty-print" enabled during my test, which caused transports to be used.

Once I disabled pretty-print things are working as expected.

[2021-12-16 16:36] #1268 closed

[2021-12-17 10:42] robertsLando opened #1271 "[question] How to create custom destination based on log level"
Hi, I would like to log errors to stderr and everything else to stdout. I know I could archieve this in multiple ways (using transports or multi stream) BTW that would cause logs to be duplicated, I would like to customize the destination of pino pretty and redirect logs based on the level. Could anyone suggest me how? I think this could also be a useful option to add, something like `errorsDestin

[2021-12-17 10:58] mcollina commented on #1271
This is covered by the `dedupe` flag in `pino.multistream()`: https://getpino.io/#/docs/api?id=pino-multistream.

Currently we are not passing this flag through `pino.transport()`, but it's definitely possible to implement it as it internally uses `multistream()`. Would you like to send a PR for this?

[2021-12-17 11:02] robertsLando commented on #1271
My application is a little bit more complicated and I don't want to dedupe logs in every situation, that's why I would prefer to be able to customize the destination stream based on the level. Could you give me some tips? I tried to dig into docs all the morning and I don't think it's so difficult but I'm blocked right now

[2021-12-17 13:15] Aschen opened #1272 "Add feature to lookup external LDAP classes"
It could be interesting to be able to format some string using external LDAP serialized classes, what do you think?

[2021-12-17 13:39] jsumners commented on #1272
That would be an implementation detail for a custom transport. Adding such a feature to core is not going to happen because such operations are _extremely_ slow.

[2021-12-17 13:39] #1272 closed

[2021-12-17 13:41] marcbachmann commented on #1272
I guess that was supposed to be a joke 😁
Similar to https://twitter.com/brianloveswords/status/1469358777409454092?s=20

[2021-12-17 13:43] jsumners commented on #1272
Ah, I see. Locking this as off-topic because it is. @Aschen in the future, please only open actual issues. Triaging issues takes time, and triaging "jokes" is a waste of maintainers's time.

[2021-12-17 14:22] mcollina commented on #1271
That's what dedupe does if I understand your request correct. Can you make a more concrete example?

[2021-12-17 15:17] fireridlle opened #1273 "Redact by value pattern"
Currently, we need to specify the path to the property that we need to redact. However, it might be in a different place. Is it possible to redact by value pattern? Let's say i would like to redact everything that match email regexp

[2021-12-17 15:21] jsumners commented on #1273
Duplicate https://github.com/pinojs/pino/issues/1034

[2021-12-17 15:21] #1273 closed

[2021-12-19 08:27] shahinghasemi commented on #1255
@mcollina Thank you for fixing the issue. When the new release with this changes would be? is there any milestone to check?

[2021-12-20 02:59] micalevisk commented on #1139
is this fixed?

🎆

[2021-12-20 07:31] mcollina commented on #1139
Yes!

[2021-12-20 07:31] #1139 closed

[2021-12-20 08:35] giltayar opened #1274 "[question] How to "record" logs for testing purposes"
We have tests in our app that verify that logs were created and have the correct information.

To do that, we need access to the final logs output by pino. The way we do it now is to use the `prettyPrint` option in `pino` to get at these final log JSONs and store them in an array that the test can access later.

Unfortunately, the `prettyPrint` option is being deprecated, so we need another soluti

[2021-12-20 08:46] giltayar commented on #1274
I noticed that what is returned from `.transport()` is the `ThreadStream`, and that `ThreadStream` has a property called `worker`, so I can theoretically use that to listen to messages from the transport and receive the final JSON logs that way.

But I have no guarantees on this, and this could change from one version of pino to another.

[2021-12-20 09:02] mcollina commented on #1274
You can keep using `pino-pretty` directly:

[code]

[2021-12-20 09:02] #1274 closed

[2021-12-20 14:23] giltayar commented on #1274
@mcollina I believe you misunderstood. I do not want to do pinopretty. In pino@6 (and 7), I could do this:

[code]

We used this for testing purposes to see that the function used the logger and output the correct logs (obviously the code below is a simplified version of what we use).

Unfortunately, the `prettyPrint` option is being deprecated, so we need another solution. I looked at transports,

[2021-12-20 14:25] jsumners commented on #1274
Pass a custom stream that writes lines to your array.

![image](https://user-images.githubusercontent.com/321201/146782215-7239307d-2fea-494b-a3cb-49e855c78649.png)

![image](https://user-images.githubusercontent.com/321201/146782270-fdf39840-33c6-40a1-8414-9d5fbad51428.png)

[2021-12-20 15:33] giltayar commented on #1274
@jsumners perfect! Thank you!

[2021-12-20 16:40] FredericEspiau opened #1277 "[bug] 7.6.0 won't work with `nestjs-pino`"
Excluding all the files in `node_modules` doesn't work with `nestjs-pino`

I guess because there are too many files before reaching the user's files

Here are some examples of stacktraces

Stacktrace:
[code]

Other example:
[code]

The fix is available here: https://github.com/pinojs/pino/pull/1276

[2021-12-20 19:20] mkaufmaner opened #1278 "Wrapped Pino Libraries TypeError The argument 'filename' must be a file URL object, file URL string, or absolute path string. Received 'node:internal/process/task_queues'"
When trying to wrap pino v7 within an opinionated logging library for my organization using pino v7, and importing it into a Framework with IoC containers, I get the following error;

[code]

I have tracked this down to the getCaller() following function; specifically where the function skips within `node_modules` when iterating through the callstack. See https://github.com/pinojs/pino/blob/master

[2021-12-20 19:23] mcollina commented on #1278
Can you please upload a reproducible example? Thanks!

(A PR with a fix would be ok too)

[2021-12-20 19:24] jsumners commented on #1278
This statement is a demanding statement. Please do not demand things. Instead, provide constructive suggestions.

[2021-12-20 19:35] mkaufmaner commented on #1278
@jsumners
I am thinking about opening a PR that either removes the check for node_modules or implements logic to verify that the value being returned is an absolute file path. Then, if nothing is returned, execute a second iteration through the stack trace without checking for node_modules.

@mcollina
More than happy to open a PR. An example of this may just be trying to get nestjs-pino to work.

[2021-12-20 19:46] jsumners commented on #1278
Please review the associated PR. I am sure there is information within it to answer your questions.

[2021-12-20 20:00] mcollina commented on #1278
A PR that fixes this without breaking the functionality we added recently would be good. However I suspect it won't be as easy as you describe.

A better solution is to retain the full array of callers and iterate over them until the dependency is found.

[2021-12-21 03:33] zhex900 commented on #1106
Hi,

I am using streams. What should I do to remove the deprecation message?

[code]

[2021-12-21 08:45] simoneb commented on #1217
Thanks for reporting this. As a temporary workaround you may want to consider looking into https://github.com/FormidableLabs/pino-lambda, which is a drop in replacement for pino which works in a lambda environment.

[2021-12-21 10:00] robertsLando commented on #1271
@mcollina IMO instead of creating multiple transports (and dedupe logs) being able to redirect the stream based on the log level would be better in terms of performances. Do you think so or am I wrong? Is this difficult to implement?

IMO this could be easily archived by making destination option to accept a function that returns a destination

[2021-12-21 10:22] mcollina commented on #1217
@simoneb I think we should be creating an entry in our FAQ for this. Would you like to send a PR?

[2021-12-21 10:28] robertsLando commented on #1271
By checking code it could be done here: https://github.com/pinojs/pino/blob/master/lib/multistream.js#L53

[code]

[2021-12-21 10:51] mcollina commented on #1271
I don't understand how that would solve your problem, but go ahead anyway - I'd like to see a PR.

[2021-12-21 11:57] marcbachmann commented on #1274
Another quite raw snippet that always writes all logs to a capped memory buffer.
And errors are still output to the console.
Maybe it would be nice to put something like that into a module.
[code]

`memory-destination.js`
[code]

[2021-12-21 13:04] jsumners commented on #1217
I don't think we should rely on a third party being documented as a solution to the problem. Adding them to the FAQ or something as a thing that exists is fine. But we should document the above "hack" or implement a direct feature for this, as we did in v6.

[2021-12-21 13:06] simoneb commented on #1217
I agree James. Also note that I'd also proposed the folks of that library to turn it into something which can be plugged into pino, rather than replace pino. Whole conversation here https://github.com/FormidableLabs/pino-lambda/issues/24

[2021-12-21 13:14] robertsLando commented on #1271
PR ready @mcollina

[2021-12-21 13:22] mcollina commented on #1217
I would not do the `flushSync()` after every log line. It completely defeats the purpose of having transports to begin with (`flushSync()` blocks the main thread). You'd need to do it once that at the end of your function.

[2021-12-21 15:05] doums commented on #1278
Hi, just to let you know I'm in the same case and I get the same error, downgrading to `7.5.1` fix it.

[2021-12-22 12:24] igalarzab commented on #1263
Hey Matteo,

Thanks for the help! But I'm not sure how I could use the `interpolationValues` for the problem I have, without having to modify all the log lines of the project.

Basically all my loggers have an attribute called `module`, given when the logger is created (via the `child` method). I would like to have that specific attribute not only as part of the JSON object, but also at the end of

[2021-12-23 00:06] mcollina commented on #1263
Oh now I understand what you want to achieve.
This case is covered by https://getpino.io/#/docs/api?id=logmethod.

[2021-12-23 09:01] igalarzab commented on #1263
Thanks for the quick answer! 🙇

I've been playing a bit with the `logMethod` hook but I don't see how to access the object itself (to be able to get the properties that were set in the logger when it was created by the `child` method). Am I missing something?

[2021-12-23 09:36] mcollina commented on #1263
It should be `this`

[2021-12-23 15:43] igalarzab commented on #1263
Amazing, works wonderfully, thanks a lot for the help :)

Copying here the result just in case it's useful for someone else:
[code]

[2021-12-23 17:17] #1277 closed

[2021-12-23 17:38] mcollina commented on #1278
Should be fixed by https://github.com/pinojs/pino/pull/1276. Closing.

[2021-12-23 17:38] #1278 closed

[2021-12-24 09:58] mcollina commented on #1261
Did this happen again?  Were you able to reproduce it?

[2021-12-24 10:01] ronag commented on #1261
Happens all the time in production. Don’t have a runnable repro. We were forced to change our service to log less and then the problem disappeared.

[2021-12-24 10:55] mcollina commented on #1261
Very interesting. What transports are you using?

[2021-12-24 12:52] FredericEspiau commented on #1277
The `7.6.1` version does fix my issue 👍

[2021-12-24 13:35] ronag commented on #1261
Just normal stdout. The default. pino.destination with async true.

[2021-12-24 13:35] ronag commented on #1261
My girlfriend will kill me if I take my computer out so I will have to get back later with the exact configuration. 😅

[2021-12-27 07:55] ronag commented on #1261
@mcollina

[code]

[2021-12-27 08:26] mcollina commented on #1261
Is that being wrapped inside `pino.transport()`? why you are not using `pino.destination()` directly?

[2021-12-27 08:28] ronag commented on #1261
[code]

[2021-12-27 08:29] ronag commented on #1261
Not explicitly using transport.

[2021-12-27 08:31] mcollina commented on #1261
This is _definitely_ not about thread-stream but something in our old friend https://github.com/pinojs/sonic-boom.

[2021-12-27 08:34] mcollina commented on #1261
It's unclear which version of sonic-boom are you using. Could you check if you are running the latest?

[2021-12-27 08:35] ronag commented on #1261
[code]

[2021-12-27 08:39] mcollina commented on #1261
You might want to look into adding a test similar to https://github.com/pinojs/thread-stream/blob/main/test/string-limit.test.js to sonic-boom.

[2021-12-27 12:56] Balrrach opened #1280 "Type of pino logger"
I want to include a logger in a controller class as an atribute. Since I'm doing typescript I would like to know what type the pino logger is to declare the variable as such.
[code]

[2021-12-27 13:12] mcollina commented on #1280
cc @kibertoad

[2021-12-27 17:48] ahmafi opened #1281 "passing logger methods to a function"
Is this a bad idea to pass logger methods as function arguments?

I was trying something like this:

index.js:
[code]

logger.js:
[code]

But it throws an error:
[code]

How am I supposed to tell a function to log at a specific level? Image a utility function that checks if a file exists or not, and based on who is calling this function I want to create logs at different levels, one check if fails

[2021-12-27 17:50] jsumners commented on #1281
I don't know why you wouldn't pass in the logger itself:

[code]

But if you really want do pass the method, you should bind the instance:

[code]

[2021-12-27 18:29] ahmafi commented on #1281
Thanks, bind was what I wanted.

take a look at this example:
[code]

[2021-12-27 18:50] jsumners commented on #1281
You're making it more complicated than it needs to be:

[code]

[2021-12-27 18:50] #1281 closed

[2021-12-28 09:36] robertsLando commented on #1271
Like I said in PR this is something that should be handled in pino pretty

[2021-12-28 09:54] mcollina commented on #1271
I don't understand, we closed the PR as this is something that can already be implemented with the current code. What's missing in pino-pretty?

[2021-12-28 10:03] robertsLando commented on #1271
Like I said here:

If I remove dedupe I would have the logs duplicated on error and stdout, If i add dedupe, in production, I would miss the logs in file. I just would like to have an option in pretty stream to say log error levels to stderr and others to stdout, or create a custom stream to handle this

[2021-12-28 10:26] mcollina commented on #1271
I think a good solution to this problem is to add support for a `maxLevel` in https://github.com/pinojs/pino/blob/20afab9a9fbe211e5c43260b84f77ef39fff4e7c/lib/multistream.js#L52.

[code]

The implementation is likely a bit more complex than that, but I just wanted to give you an idea.

In this way you could write:

[code]

Wdyt? Would you like to send a PR for this?

[2021-12-29 10:04] AmitGazal commented on #1274
@jsumners Thanks a lot, it works well!
A small comment: you should pass destination separately from the rest of parameters.
`const log = loggerFactory({name: 'test1'}, t.context.dest)`

[2021-12-29 10:42] robertsLando commented on #1280
@Balrrach Should be `pino.Logger`
https://github.com/pinojs/pino/blob/master/pino.d.ts#L210

[2021-12-29 10:45] #1280 closed

[2021-12-29 21:23] amcdnl commented on #670
I would like to upvote need for redaction in browser.

Use case: Application that is a react app that needs to log errors/etc and then dump for remote debugging logs.

[2021-12-29 21:33] Balrrach commented on #1280
Seems to be working correctly. Thanks a lot!

[2021-12-29 21:34] davidmarkclements commented on #670
@amcdnl a PR would be more than welcome

[2021-12-30 00:03] JaneJeon opened #1285 "Multiple transports doesn't work: The "path" argument must be of type string. Received undefined"
I have a very simple transport setup as follows:

[code]

However, pino shits the bed, complaining of the following:
[code]

Ultimately, I've tracked it down to the fact that despite the fact that I _specifically_ set `targets` property when initializing the transport, it's not there when the `ThreadStream` actually gets created (that's the transport "instance"). Here's the proof (I console.logged

[2021-12-30 07:34] mcollina commented on #1285
That's really surprising because we cover that exact usecase in our tests. Maybe you can add a reproducible example we can run?

Given that's straightforward, I'd be happy to receive a PR from you that fixes it.

[2021-12-30 09:10] climba03003 commented on #1285
The problem may relate to how he pass the `transport` to `pino`.
e.g. the following should throw the error
[code]

[2021-12-30 09:19] mcollina commented on #1285
That's not correct. I think we might want to improve the error handling.

Either:

[code]

or

[code]

[2021-12-30 09:39] climba03003 commented on #1285
I know that the code I post is not correct, but it is the only possibility to cause error.
From the error stack
1. `normalizeArgs (/home/node/node_modules/pino/lib/tools.js:410:10)` - It is related to the option passed to pino
2. `transport (/home/node/node_modules/pino/lib/transport.js:111:22)` - It is creating a new instance of `ThreadStream`, which should not if you passing like `pino(transport

[2021-12-30 09:54] mcollina commented on #1285
@climba03003 do you think we should fix this and make it throw a more explicit error? I'm not convinced we should be accepting a stream as a `transport`.

[2021-12-30 10:03] climba03003 commented on #1285
I am fine with both detecting if user pass the wrong value to `transport` or accepting `stream` for `transport`.

[2021-12-30 11:35] #1285 closed

[2021-12-30 20:45] JaneJeon commented on #1285
@climba03003 was absolutely right with his first guess, thank you!

[2021-12-31 08:51] joebnb commented on #318
Has this been solved

[2022-01-02 15:13] royhamulak commented on #1217
One of my transports is aggregating the messages and then sends it to a 3rd party (logz.io in this particular case).

As I tried different things I encountered an issue where there was no normal way to notify the ThreadStream that the stream is still processing (even with delaying the end() call to after the request finished sending), thus terminating the lambda.

We moved from this solution due t

[2022-01-02 17:16] meehawk commented on #1177
@mcollina I'd like to take this up. Any pointers would be awesome

[2022-01-02 17:35] mcollina commented on #1177
The browser.js file is quite readable, take a look!

[2022-01-02 18:20] R0st0s opened #1289 "[question] Truncating messages"
How should I go about limiting the length of fields logged with Pino? Let's say I have an object which has one nested field that's 100k characters long, and I want every field to be logged, but up until a specific length, for example 10k characters.
I looked into transports, but they didn't really look the perfect fit. I tried to substring the fields myself with
`logger.info({
    method: request.

[2022-01-02 19:58] mcollina commented on #1289
Have you tried using the serializers: https://getpino.io/#/docs/browser?id=serialize-boolean-array?

[2022-01-03 18:20] R0st0s commented on #1289
Thanks for the suggestion, @mcollina! The only drawback is that the serializer are applied on the exactly matching properties, but I can work with that.

[2022-01-03 18:20] #1289 closed

[2022-01-04 20:50] RichAyotte commented on #1261
Adding a "me too" to this issue. I'm seeing this happen all the time in production, especially with the larger payloads. I just had one cut off at 61440 characters if that's a number of any significance. I'll look for other instances to see if there's a pattern.

[2022-01-05 03:02] joebnb opened #1290 "would pino support PM2 in future？"
pino not work with pm2 cluster mode,could make a move to support it ?configuration or other ways

[2022-01-05 07:36] mcollina commented on #1290
how does pino not work with pm2?

[2022-01-05 07:52] joebnb commented on #1290
pino not work in pm2 cluster mode,  https://github.com/pinojs/pino/issues/491#issuecomment-414043388 i meet the same issue

[2022-01-05 07:55] joebnb commented on #1290
in ecosystem json add: exec_mode:'cluster'
[code]

[2022-01-05 07:56] kibertoad commented on #1290
@joebnb Did you read entire thread that you linked? If you have same issue, same fix should work for you.

[2022-01-05 08:40] joebnb commented on #1290
thanks for mention

[2022-01-05 08:40] #1290 closed

[2022-01-05 10:43] mcollina commented on #1261
Can you please try https://github.com/pinojs/sonic-boom/pull/128 and see if it fixes it?

[2022-01-06 19:46] jsumners opened #1292 "Should provide an OpenTelemetry transport"
https://github.com/open-telemetry/opentelemetry-specification/blob/8e29f555b2282a3883b1b57009ad4eb11bfc5228/specification/logs/data-model.md

[2022-01-06 20:14] pietrorea opened #1293 "TypeScript types do not provide expected safety"
I recently migrated all my `console` logging statements to use a pino logger on a TypeScript backend codebase. Most of the changes worked out of the box with the matching default functions (e.g. `console.error(...)` mapping to `pino.error(...)`).

The TS type checker let me happily move my `console.log(...)` statements to `pino.log(...)`, so I incorrectly assumed there was a default `log` method o

[2022-01-06 21:23] pietrorea commented on #1293
For now I've wrapped pino in my own logger API, but curious if I can use directly in a safer way.

[2022-01-06 23:14] marcbachmann commented on #1292
Just a note. Currently I'm extracting the traceId in the `pino-http` `customProps` function: https://github.com/pinojs/pino-http/blob/0c778530cecac64ca80ae4e88624c55c942413b9/logger.js#L122

Having the traceId is enough in most cases, as that's the entrypoint of retrieving a trace in jaeger/loki.

Not sure this issue belongs into pino itself. Retrieving a trace might have too much overhead.

[code

[2022-01-07 14:57] jsumners commented on #1292
The idea would be to receive a standard Pino generated NDJSON line and mutate it to the format described in the linked OT documentation. Adding trace/span ids is out of scope.

[2022-01-08 17:10] moeinrahimi opened #1295 "using transport and serializer altogether"
I'm trying to save logs based on levels to different files using the transport option and also I want to add some parameters to my logs so I decided to the serializer.
[code]
enabling serializer makes logger stops working. there is no warning or error message in output

[2022-01-08 17:43] ZYSzys commented on #1212
Would like to be sure when formatter is passed both to the child and the parent, just call the child's formatter or call their formatter both ?

[2022-01-08 17:59] mcollina commented on #1295
duplicate of https://github.com/fastify/help/issues/598

[2022-01-08 17:59] #1295 closed

[2022-01-10 11:24] mcollina commented on #1293
Could you include a full example to reproduce this? My understanding is that this should not be possible according to our types.

Note that TS does not provide any runtime safety - essentially this is true for any types you might want to use.

[2022-01-10 15:33] kibertoad commented on #1293
@mcollina Likely it is due to custom levels support, I think we are typing that part as a dictionary of <string, Logger>.

[2022-01-10 19:15] pietrorea commented on #1293
@mcollina I also thought the line @kibertoad was why. would you still like a full example? happy to provide, but wasn't sure if you were just looking for an entry point into the code.

i'm ok with no runtime safety. I'm just looking for the red squiggly as I type a method that's not defined, and for my build to fail, if that's the case

[2022-01-10 20:41] mcollina commented on #1293
Please do. `pino.log` should be flagged `pino().log` should pass through.

[2022-01-11 05:52] pietrorea commented on #1293
@mcollina here's the sample project: https://github.com/pietrorea/pino-types-example

[code]

The build step does not produce an error but it fails at runtime. I take it from your last comment that this is expected?

[2022-01-11 07:25] mcollina commented on #1293
Thanks for that. Just to confirm, using the log method without creating a pino instance is not possible, right?

[2022-01-11 07:29] mcollina commented on #1293
@kibertoad I think we might want to change this and remove that definition and document that people would have to add their definitions manually if using custom levels.

[2022-01-11 15:05] pietrorea commented on #1293
@mcollina yea, just doing `pino.log('...'`) is not possible:

<img width="393" alt="Screen Shot 2022-01-11 at 10 03 49 AM" src="https://user-images.githubusercontent.com/1264371/148967484-5b78152c-7d05-47e1-8508-bbe54a6be1bc.png">

[2022-01-12 13:29] JamieSlome opened #1298 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@ranjit-git) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pract

[2022-01-12 14:25] #1298 closed

[2022-01-12 21:02] #1293 closed

[2022-01-13 03:03] Lil-Strudel commented on #1243
Any update on this issue?

[2022-01-13 13:03] JamieSlome commented on #1298
@mcollina - thanks for the support here! ❤️

[2022-01-15 18:33] Xananax opened #1301 "When calling process.exit, pino can miss outputting some messages"
Maybe I'm missing something, but I don't seem to be able to log all levels (or part of levels) to the same transport.

My Pino configuration looks like this:

[code]

But it seems this actually limits the logging to `trace`? Both the file and the sdout of `pino-pretty` are limited to `traces`. If I set it to `error`, I do see errors, but no traces anymore

I want to see all levels, like what the d

[2022-01-15 18:45] Xananax commented on #1301
I've done this at the moment, but I'm pretty certain there must be better:

[code]

[2022-01-15 19:31] Xananax commented on #1301
If I run a `log.fatal("something")`, both transports start logging every level above `trace`, as expected. So, this works:

[code]

After the first `fatal` has been logged, errors, warns, and traces all log. I don't think this is expected behavior, but I'm not sure how to go about debugging this.

The error that wouldn't show is inside a promise. Could it be related?

[2022-01-15 19:35] Xananax commented on #1301
It _is_ related. The error didn't have time to be thrown before `process.exit` was called. Is there any way to wait for pino to finish flushing before exiting?

[2022-01-18 16:50] bmaupin opened #1302 "How can I use multiple targets and pipelines?"
I'd like to be able to send logs to syslog and to stdout.

I know I need a pipeline for syslog (pino-syslog+pino-socket), and that works fine, e.g.

[code]
My guess would be that I'd need to combine `pipeline` with `targets` so that I can send the logs to multiple targets; one target for stdout (I'm testing with pino-pretty but the format doesn't really matter) and the other target for the syslog

[2022-01-19 16:35] moshie opened #1303 "Pnpm and Pino Transports"
Hi,

I have created a private package called `@zopauk/nextjs-logger` the idea of this package is nextjs applications can install it and have access to the logger however, the global configuration (transports and such) remain under the package it's self (to keep applications aligned with logging config).

The issue we have with this is that when installing `@zopauk/nextjs-logger` with **pnpm** on t

[2022-01-19 16:54] mcollina commented on #1303
There is some difference layout on disk compared to pino and https://github.com/pinojs/pino/blob/master/lib/caller.js is actually not working as we thought it should.

Would you like to improve this?

[2022-01-19 17:12] moshie commented on #1303
I am not super familiar with the internals of this package but I am happy to give it a shot 👍

[2022-01-19 17:26] mcollina commented on #1301
what version of pino are you using?

[2022-01-19 17:27] mcollina commented on #1301
I don't see any process.exit() in your examples, could you include a full example?

[2022-01-19 18:02] moshie commented on #1303
@mcollina Looks like the culprit is:

[code]

When it loops through these Error entries:
[code]

It's hitting the `/Users/david.hewitt/code/loans-dashboard/.next/server/pages/_document.js` one and returning it as a result of the `isOutsideNodeModules` check which isn't right.

It should be returning the first one.

How would you like me to approach this?

commenting out that for loop fixes it for

[2022-01-19 18:20] mcollina commented on #1303
I _think_ we should return an array instead and then try multiple callers until we find one that works when we resolve the dep later on.

[2022-01-19 19:12] Xananax commented on #1301
Yes, here's a minimal repro. You may sometimes get a proper result by running the code I'm sending, but at least 1/3rd of the times, the result is similar to the one below:

![image](https://user-images.githubusercontent.com/836082/150196930-598d147d-8d95-4123-aa17-dae42d744b5c.png)

As you see, iterations `7`, and `2`, `1`, and `0` have been missed by Pino. You can compare with the final buffer a

[2022-01-19 19:42] mcollina commented on #1301
What version of pino are you using?
This looks a lot like https://github.com/pinojs/pino/pull/1296 which was fixed in v7.6.3.

What Operating System are you using? I cannot reproduce on Linux using `master`.

[2022-01-20 13:34] Xananax commented on #1301
Sorry for not answering that before! I started using `pino` very recently, so I didn't think it could matter.

I'm using `7.6.2` indeed (on Arch, using node `16.9.1`), I'll upgrade then!

Sorry for the dupe. I searched before posting, but my initial assessment of the problem was wrong, I didn't think of searching again after reaching a more accurate conclusion.

[2022-01-20 13:36] Xananax commented on #1301
I confirm the issue does not happen on v`7.6.3`

[2022-01-20 13:36] #1301 closed

[2022-01-20 13:52] mcollina commented on #1301
That's ok, don't worry about it. I'm glad v7.6.3 fixed it because I had no clue whatever else it could be.

[2022-01-20 17:00] #1303 closed

[2022-01-20 17:36] mcollina commented on #1302
This is not currently possible. You can't mix & match.
However it would be amazing to support that, it's would be a really nice feature to add.
However I don't have time to work on it, so it would be great to have a PR.

[2022-01-20 18:12] mcollina commented on #1243
@kibertoad is this something you can look into?

[2022-01-22 01:54] adibhanna opened #1308 "Typescript declaration not found"
I'm using Pino in an Express+Typescript project.
I'm getting the following error with I do `import pino from 'pino';`

[code]

How do I use Pino correctly with TS? I need to use its types as well.
Thank you

[2022-01-22 08:54] mcollina commented on #1308
From v7 types are shipped in the module, you don't need to install them separately

[2022-01-28 22:56] Ragnoroct opened #1312 "Confusing "destination" docs"
The docs for destination are a bit confusing https://getpino.io/#/docs/api?id=destination

It says it can accept an object with a `write` method or a Node.js stream but I found those did not work.

I dug into the code a bit and found that `destination` building a `SonicBoom` instance that is just looking for a string path or a file descriptor.

https://github.com/pinojs/pino/blob/54cd23b8ca1839fc3

[2022-01-29 01:17] wbender-wurl commented on #1312
Oh I see. the `destination` parameter can be any stream like object, fd, or path. The `destination` function only takes a `fd` or `path`.

I still think that's confusing :thinking:

[2022-01-29 06:05] mcollina commented on #1312
We might want to change the name /behavior of some options if they are confusing.

[2022-02-01 01:22] kammerjaeger opened #1314 "Make logger.child() bindings type save"
Hi,

Similar to the logger see: https://github.com/pinojs/pino/blob/d073381c10d42782cb81a74851d703e1daba0442/pino.d.ts#L279
or v6 https://github.com/DefinitelyTyped/DefinitelyTyped/blob/6de7dbcc88c855af5d4c2c0ee1fc8f1d17506e1e/types/pino/index.d.ts#L773
I would like to have a type safe child field bindings function where the bindings to logger.child are checked against a known set of allowed param

[2022-02-01 10:25] mcollina commented on #1314
@kibertoad could you take a look?

[2022-02-01 13:04] jhonrocha commented on #1292
Hi! I will take a look on this!

[2022-02-02 08:15] pawelgalazka opened #1315 "Pino does not produce JSON output, just text message within NextJS middleware function"
When using Pino within NextJS middleware function:

`pages/_middleware.ts`
[code]

and then I run `next dev`, request the page, Pino does not outputs message within JSON format:
[code]

Weirdly when I use the same logging within any page component:

[code]

Pino outputs log in JSON format:
[code]

Not sure what's going. What can cause Pino dropping JSON format and falling back to plain text messag

[2022-02-02 08:25] mcollina commented on #1315
I think that's correct. The Vercel middleware is bundled as it would run on the frontend, picking the browser version of pino.
My understanding of the Vercel platform is that the middlewares do not run on Node, so this is needed. You might want to open an issue on Next.

[2022-02-02 08:25] #1315 closed

[2022-02-02 13:31] vitamink commented on #542
I'm logging a quick exit message after a config check (if no config found then log a helpful message). I've taken the above advice and used pino.final, but this fails with a SonicBoom exception thrown by the following:
[code]
Full stacktrace is:
[code]

So I understand the rationale behind the exception, but cannot work out how to log the error AND exit with a "1".

A viable solution is to add a s

[2022-02-02 13:38] jsumners commented on #542
This issue is about a long unmaintained version. If you are having a problem with a current version of Pino, please open a new issue or participate in one that is relative and current.

[2022-02-02 19:11] tinawng opened #1317 "Possible RCE?"
I use Pino to log incoming http request like so:
[code]
when checking my logs I saw this: https://pastebin.com/1YmkcNtV
(sry for the pastebin but it's quite a big chunk)

I know I have to be responsible somewhere but I was wondering if it was not also a vulnerability inside Pino.

[2022-02-02 19:22] mcollina commented on #1317
Please follow https://github.com/pinojs/pino/blob/master/SECURITY.md and share a script to reproduce.

Due to the output you have shared, there is quite a lot happening. You are likely dumping some internal memory that should not be there.

Part of the problem is that you are logging the request object without a serializer:

[code]

Would do the trick.

[2022-02-02 19:52] tinawng opened #1318 "Possible RCE?"
I use Pino to log raw http request like so:
[code]

when checking my logs I saw this: https://pastebin.com/1YmkcNtV
(sry for the pastebin link, it's quite a big chunk)

I know I have to be responsible somewhere but I was wondering if it was not also a vulnerability in Pino.
Thanks

[2022-02-02 20:06] mziwisky opened #1319 "Multiple redaction rules?"
Is it possible to use multiple redaction rules?  E.g. something like:
[code]
I want the value at `req.headers.authorization` to be replaced by a censor (in this case, the default "[Redacted]") but i also want the key `req.id` to be completely removed.  The code above doesn't work, as `redact` can only be a single object or an array of strings (paths), but is there some recommended way to pull this

[2022-02-02 20:38] tinawng commented on #1317
Thank you for your answer!
sorry for the double post btw, github is acting weirdly right now..

[2022-02-02 20:38] #1317 closed

[2022-02-02 20:40] #1318 closed

[2022-02-02 22:47] Ruddickmg opened #1320 "Redact modifies the values being logged"
This is just an FYI, I'm sorry I can't provide a test case. While using the redact feature of pino, It modified the data being logged causing errors in the system. This happened when applying redact to an array element `*[*].data`. This seems like a very dangerous bug and is difficult to find with the assumption that logging should not modify the data being logged.

[2022-02-02 22:59] mcollina commented on #1320
In order to perform redaction with minimal overhead, it mutates all objects being logged and then restores those properties. Unfortunately that's the tradeoff. You could always resort to adding serializers.

[2022-02-02 22:59] #1320 closed

[2022-02-03 02:43] jsumners commented on #1319
https://github.com/pinojs/pino/blob/ef5e2e64164af01967b033c186910a6eb6f4cd7a/docs/api.md#serializers-object

[2022-02-03 17:22] Ruddickmg opened #1321 "Redact not properly restoring properties after modification"
Hi, I opened an [issue regarding redact modifying objects that were being logged](https://github.com/pinojs/pino/issues/1320) yesterday. I got a response [here](https://github.com/pinojs/pino/issues/1320#issuecomment-1028436897) which did not really address the issue which may be due to me not understanding the problem. To clarify, the errors that came about were due to `redact` not properly resto

[2022-02-03 17:35] jsumners commented on #1321
Why have you opened another issue instead of following up in the original? Also, provide a minimal reproduction of the problem.

[2022-02-04 09:06] moshie opened #1322 "RangeError: WebAssembly.instantiate(): Out of memory: wasm memory"
Hi,

I have a NextJS application which runs on the lts version of node (v16.13.2) and on a linux docker container.

I seem to be getting an error after the app has been running for a while where webAssembly is erroring due to running out of memory.

The error I managed to pull out is pretty vague but it has pino below it perhaps it's draining web assemblies memory?

I have one custom transport whi

[2022-02-04 09:36] noweh opened #1323 "How to rotate logs in a separate thread"
Hello,

I am trying to use pino for logging in to my node app Server and I do have some large logs coming, so rotating the files every day would be more practical.

So I used `pino.multistream()` and `require('file-stream-rotator')`

My code works, but for performance reasons, I would not like to use the streams in the main thread.

according to the doc, I should use `pino.transport()`:

https://g

[2022-02-04 14:33] Kostanos opened #1324 "Using pino for assert errors"
For those who is interested on https://github.com/pinojs/pino/issues/1040

I found a small workaround, that may help

[code]

This way, if you are using assert to validate function input, or other input parameters, you can have a nicely formatted response without putting assert into a `try/catch` block in every place.

[2022-02-04 14:52] jsumners commented on #1324
Thank you.

[2022-02-04 14:52] #1324 closed

[2022-02-04 15:32] mcollina commented on #1322
I'm not sure how you are deploying this but that error come from Node.js core.

[2022-02-04 21:51] Teyler7 commented on #1308
Hey, @adibhanna.

Like @mcollina stated, **types are included in `pino` 7+**. My issue was that `@types/pino` (Which is not a direct dependency of `pino`) was causing type issues with the built in types for `pino` 7+. It's worth noting that `@types/pino` You will notice this change in the npm depreciation notice: https://www.npmjs.com/package/@types/pino

So if you are on Pino 7+, removing `@types

[2022-02-05 09:48] #1308 closed

[2022-02-05 10:41] mcollina commented on #1323
What do you mean by

[2022-02-05 10:53] mcollina commented on #1323
By looking at https://github.com/rogerc/file-stream-rotator/blob/2b41e6a9a6447394999a4ea03a695d8398238969/FileStreamRotator.js#L540, it looks like this module does not return a stream but an event emitter.

I think part of the problem is that the file-stream-rotator is not emitting the `'open'` event.

Another option is to add a PassThrough stream in between.

--

a better solution to this problem

[2022-02-06 17:16] dbacarel opened #1325 "About the benchmarks result"
Hello 🌲ers,

I was playing a bit with the library and decided to run locally the `benchmarks/basic.bench.js`.
I found myself a bit puzzled when I compared the output with the results published in [Pino BASIC benchmark averages](https://getpino.io/#/docs/benchmarks?id=benchmarks) -  for some reason the results from the local run are much bigger (~2x) than those published in the page so I decided to

[2022-02-08 15:36] Ruddickmg commented on #1321
The original was closed, so I opened a new one. I'm not sure how to reproduce the bug as the code base is rather large and private. I'm just letting you know this bug exists in your application, do with that what you will.

[2022-02-08 15:40] jsumners commented on #1321
Without a minimal reproduction we are unable to help.

[2022-02-08 15:40] #1321 closed

[2022-02-08 19:48] lxbc135 opened #1327 "How do you add custom stream to existing pino logger?"
How do you add custom stream to existing logger, like the older Probot's Bunyan logger `app.log.target.addStream(myStream)`?

Would like to upgrade to Probot v11+, which uses `pino` instead of `bunyan`.  So need pino equivalent of `addStream`.

Reference: [probot/issues/776](https://github.com/probot/probot/issues/776)

[2022-02-08 20:12] kammerjaeger commented on #1314
We are currently still using v6 so I tested the changes for v6 with my code. As soon as we switch to v7 I can test them there. I'm just not sure how I can create a pr to the v6 type definition.

[2022-02-08 20:18] mcollina commented on #1314
The v6 type def are maintained at definitelytyped.

[2022-02-09 08:32] dbacarel commented on #1327
I think you need to create your custom ```transport``` - see https://getpino.io/#/docs/transports

[2022-02-09 09:46] mcollina commented on #1327
you will need to pass in a `pino.multistream()`, it has an `add` method that is not documented and it should be https://github.com/pinojs/pino/blob/ef5e2e64164af01967b033c186910a6eb6f4cd7a/lib/multistream.js#L124.

[2022-02-12 14:35] DevNamedZed opened #1330 "Change Log Level for root and children"
I am working on a CLI app and want the user to pass be able to pass in a debug flag that modifies the log level. Our code has a singleton root and many child loggers that are created as module level constants.

We are currently using commander.js for cli arg parsing. We were considering writing some additional custom arg parsing for setting the level when the loggers get created but now are lookin

[2022-02-12 15:00] Eomm opened #1331 "Nested serializer calls"
When a serializer returns a property that has a serializer, I would expect that the serializer would be executed.

In this example, I would expect that the `wrapper` serializer calls the `user` serializer after returning the `{ user, country }` object.

[code]

Is this behaviour expected?

[2022-02-12 15:28] mcollina commented on #1331
Yes it is, otherwise you could hit an infinite loop.

[2022-02-12 15:28] #1331 closed

[2022-02-12 17:31] mcollina commented on #1330
The best way to approach this is to add all created loggers in a array and iterate that to change the levels.

[2022-02-13 16:18] klon commented on #1261
We noticed that since upgrading to 7.6.2 from 6.13.2 we started seeing bad JSON output from pino intermittently. Lost characters mid string. Once it started happening on an instance we typically had to kill and restart nodejs process to get it to work again. Reverting to 6.13.2 resolves it.

[2022-02-13 16:43] osher opened #1332 "Feature: `pino.destination(string)` to interpolate env-vars"
I think it would be useful that when `pino.destination(..)` is provided with a string - to interpolate env-vars if any.

e.g.:, consiuder
[code]
then,
[code]

## Use Case
The use-case is to be able to pass to applications that use pino (e.g. `verdaccio`) configuration that interpolates.
I do not develop `verdaccio` - I use it, and it in turn uses `pino` (see [here](https://github.com/verdaccio/ver

[2022-02-13 20:52] mcollina commented on #1261
@klon as I said to @ronag, we need a way to reproduce the problem to be able to fix it.

[2022-02-13 21:26] mcollina commented on #1332
thanks for opening this issue, however I see quite a few ways this could become a potential security issue. I would recommend to ask to implement this feature to maintainers of Verdaccio.

[2022-02-13 21:26] #1332 closed

[2022-02-13 21:32] mcollina commented on #1325
I'm not sure why you closed this. It's a long report (as you said) and as such it's not easy to process in a busy week.

Thanks for checking it out, we'll do our due diligence and get back,

[2022-02-14 08:07] dbacarel commented on #1325
my bad, I closed it without leaving any note.
I only later on realised that there's a ```bench-basic``` task in place, while for my tests I just ran ```node test/benchmarks/basic.bench.js```. The reason for closing the issue was simply to put this on hold while verifying that anything relevant was involved in ```bench-basic``` task - next time I should just leave a comment.

Results from running t

[2022-02-14 13:20] jsumners commented on #1332
This is an application level feature. Pino accepts configuration and it is up to the developer to determine how that configuration is built.

[2022-02-15 14:32] ikovac opened #1338 "Transport worker thread is closed before stream ends"
Hello 👋 ,
I am trying to make custom cloudwatch transport and this is my code:

`cloudwatch-transport.cjs`
[code]

`index.js`
[code]

But worker thread is closed before `_write` method `next` callback gets called.
`HERE 1!!!` gets printed, but `HERE 2!!!` doesn't.

If I put a log statement inside setInterval it works because the worker thread is not closed:
[code]

Am I doing something wrong?
Than

[2022-02-15 14:52] mcollina commented on #1338
You need to close/wait for your stream to close by passing a `close()` function to https://github.com/pinojs/pino-abstract-transport#buildfn-opts--stream.

[2022-02-15 15:12] ikovac commented on #1338
Thank you for your answer!
If I understood right,
I need to emit event before calling `next` callback like this:
[code]

and then pass `close` function to the build options like this:
[code]
Right?

[2022-02-15 15:16] mcollina commented on #1338
That's _expected_. `console.log()` in worker threads is asynchronous and go into the main thread event loop. However in your example the main event loop has already shut down, so you can't log anything. You can use `process._rawDebug()` to actually print something.

[2022-02-15 15:16] #1338 closed

[2022-02-15 15:19] ikovac commented on #1338
Thank you soo much! 🙇

[2022-02-15 15:21] mcollina commented on #1338
Are you going to publish this in a module?

[2022-02-15 15:54] mcollina commented on #1338
Send a PR, we list known transports in the docs.

[2022-02-15 15:59] mcollina opened #1339 "Collapse mixin and mixinMergeStrategy in a single function"
We should make `mixin` responsible for merging the two objects and completely avoid `mixinMergeStrategy`.

[2022-02-15 18:11] mcollina commented on #1325
Which operating system are you testing them on? I can see quite a skew between Mac OS X and Linux - which I find very interesting.

The results on my dedicated Linux machine are:

[code]

I've also tried a few other configurations and the result are all quite similar. Pino "sync" is as fast as bole, pino "async" is significantly faster, pino with a node stream is slightly slower (likely due to a b

[2022-02-16 09:37] dbacarel commented on #1325
Indeed, I ran it on a macOS Monterey - that's quite the difference!

Now I tested it on my Linux machine as well and I can confirm your results:
[code]

It's interesting how Pino seems to choke more when running on macOS, compared to others:
| Logger * 10000      | Linux (ms) | macOS (ms) | macOS / Linux |
|---------------------|------------|------------|---------------|
| benchBunyan         | 54

[2022-02-16 17:03] skrishnan22 opened #1340 "Question: Merge all keys except certain ones under a single property"
So, let's say I write` logger.info({description: 'Users fetched successfully',  path: '/users',  userData: {name: 'user'}, totalCount: 10}})`.
What is the best way to combine `userData` and `totalCount` under a single field like `metaData` while logging

Should I use hooks?

[2022-02-16 21:25] FluffyDiscord opened #1341 "How to ouput pino-pretty to console and file at the same time"
As the `prettyPrint` option is deprecated, how can I output pretty printed log to two streams - console and file - at the same time ?

Currently I am using configuration bellow which works fine for me for now
[code]

[2022-02-17 13:34] dbacarel commented on #1341
According to https://github.com/pinojs/pino-pretty#programmatic-integration, the alternative is to use [pino-pretty transport](https://getpino.io/#/docs/transports?id=pino-pretty)
which writes onto `stdout` by default.

So, you would need something like this:
[code]

[2022-02-17 13:56] jsumners commented on #1340
The "best way" is to log what you intend:

`logger.info({ description: 'foo', metaData: { userData, totalCount } })`.

But if you don't care about performance of the logger, sure, use the `logMethod` hook.

[2022-02-17 16:44] #1340 closed

[2022-02-17 18:11] FluffyDiscord commented on #1341
With this approach only console output is formatted, but the log file is still a raw json. I would like to have pretty formatted output in both

[2022-02-17 18:24] dbacarel commented on #1341
`pino-pretty` transport writes to `stdout` by default but "_the options.destination property may be set to log pretty logs to a file descriptor or file._"  see [pin-pretty transport](https://getpino.io/#/docs/transports?id=pino-pretty)

Like so:
[code]

[2022-02-17 18:27] #1341 closed

[2022-02-17 21:40] Niceplace commented on #1243
@EdisonHarada Can you share how you managed to make it work with `ts-node`? I'm trying some basic examples to get familiar with transports because I have to write a custom one. At this point have tried every possible thing that I can think of I cannot get it to work. The same code in Javascript executes beautifully tho! 😅

Using ts-node with NodeJS 16.14 on MacOS, I always get this:

[code]

To ru

[2022-02-18 00:47] Niceplace commented on #1243
This seemed promising since it seems that we can pass options to the worker when calling `pino.transport` : https://github.com/TypeStrong/ts-node/issues/711#issuecomment-679621830

Unfortunately, I don't think that the current implementation of transports allows passing code directly to the worker so it can be created with `eval: true`

Now I'm really out of ideas 😅

[2022-02-18 02:17] TAYTS opened #1343 "Allow worker thread to emit custom event back to parent"
The current worker thread only allow event with "READY" and "ERROR" and any other events will get remove. Wonder if it is possible to allow other event to propagate back instead of stripping off?

The current use case is to allow propagation of error object back to the main process but when we emit "error" event or throw error the worker thread will terminate immediately which will cause the main

[2022-02-18 02:53] jsumners commented on #1343
What other signals do logger threads need?

[2022-02-18 09:02] #1325 closed

[2022-02-18 18:14] simoneb commented on #1292
@jhonrocha any news?

[2022-02-19 11:08] dbacarel commented on #1302
I'll give it a try - I could see this as a nice to have in preparation to the v8 release

[2022-02-21 01:01] hydrox19 opened #1344 "When I try log, I get Symbol.write"
Cannot read property 'Symbol(pino.write)' of undefined"

Pino: 7.8.0

[2022-02-21 01:57] jsumners commented on #1344
The test suite does not support this report. Please provide actual details about how you get to this error.

[2022-02-23 09:03] moshie opened #1347 "Can you stop Pino from logging to the browser console?"
Hi,

Currently we are using a custom transport to handle logs we noticed that pino is also logging to the browser's console.

Is there any way of turning this off in a production environment?

Sorry if this is already answered in the docs I couldn't find it anywhere.

[2022-02-23 09:38] mcollina commented on #1347
I don't think it's possible to disable right now, would you like to open up a PR?

[2022-02-23 09:55] moshie commented on #1347
Sure, how would you like the api to work?

[2022-02-23 10:03] mcollina commented on #1347
Maybe add a flag to disable it?

[2022-02-25 05:18] TAYTS commented on #1343
Sorry for the late reply, was thinking adding a new signal "MESSAGE" to have the flexibility to allow worker thread to communicate with the parent instead of one way communicate, although I am not sure if this is against the Pino's design philosophy.

The other option I have is to allow to have some flag along with the "ERROR" signal to prevent the stream being destroyed as currently whenever the

[2022-02-25 13:26] jsumners commented on #1343
What are the use cases for these changes?

[2022-03-01 16:40] jsumners commented on #1214
The response remains the same. Provide a reproduction.

[2022-03-01 17:07] aletome commented on #1214
Use Node v10.1.0.
Install latest version of Pino.
Start the app and you get the error.
Switch back to Pino v6.14.0 and it works.

[2022-03-01 17:21] jsumners commented on #1214
We do not support Node v10 with `pino@7` https://getpino.io/#/docs/lts?id=schedule

[2022-03-01 20:50] #1214 closed

[2022-03-02 08:10] zhongshanxian opened #1353 "formatters level set label cant transport"
why set level => label, cant record the log, test.log is empty?

"pino": "^7.8.0"

[code]

[2022-03-02 13:19] jsumners commented on #1353
It is not clear what you are asking. Please review https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code and provide a minimal reproduction of your problem.

[2022-03-04 00:59] SalvadorJJ opened #1358 "pino is an empty module in the jest context"
In my `logger.js` file I import pino in the following way
[code]
Everything works fine.
just for test it if I do a console.log of pino.

[code]
the output is the expected. It's the module pino

but if I run pino since a jest unit test as the following way
[code]

The output of the console log is `{}`

[code]

Therefore functions like `pino.destination`  can't be called because pino is undefined.

[2022-03-04 03:55] jsumners commented on #1358
No idea. You should ask the Jest maintainers.

[2022-03-04 08:13] zhongshanxian commented on #1353
https://codesandbox.io/s/cool-sun-t395f0?file=/README.md

[2022-03-04 10:17] mcollina commented on #1358
Note that we test that pino is compatible with jest, so this is likely a problem in your setup.

[2022-03-04 10:17] #1358 closed

[2022-03-04 14:20] mcollina commented on #1353
`pino.multistream()` which underpins our transport system is incompatible with customizing the level. It would be better for pino to throw in that case.

[2022-03-08 13:28] lolo-io opened #1361 "Doesn't seem to work with ract-native"
Hi, I am using React Native and am trying to implement the Hello World from pino :

[code]

But both logger.info and console.info are giving me the same result in the react-native packager :
[code]

[2022-03-08 13:30] mcollina commented on #1361
You are using the browser implementation of pino in react-native and that's the expected behavior.

[2022-03-08 13:30] #1361 closed

[2022-03-08 16:47] guilhermelimak commented on #1353
Hey @mcollina, I've opened a pull request to solve this issue and added some info about it to the docs, could you review it and let me know if there's something wrong?

[2022-03-08 23:01] proviral opened #1363 "Pino Transport log level is ignored"
Hey,

I believe I may have found an issue in Pino.Transport with regards to the log level:

Code:
[code]

Observation:

[2022-03-09 07:55] mcollina commented on #1363
A transport does not have a log level, you need to set the log level into pino itself.

[2022-03-09 07:56] #1363 closed

[2022-03-09 13:32] techmunk commented on #1353
The issue is actually just that level is not the numeric label. I was actually running with multiple transports, with a level formatter of
[code]
And it was working fine. All transports got logged as expected.

Is there some other way to achieve an outcome such as this on the latest release of pino?

[2022-03-09 13:44] mcollina commented on #1353
I don't think so, the system is not designed in that way. A PR that improves on it would be awesome.

[2022-03-09 13:44] #1353 closed

[2022-03-09 14:08] techmunk commented on #1353
@mcollina is there a reason the default formatter does not include the label, or an option to this effect? Would a change such as this be acceptable?

All I really want is the friendly level label to get to the logs so people don't need to know in logstash for example, that 30 is 'info'.

I'm happy to make a PR, but what kind of change would be acceptable here? Now that the code throws an error, I

[2022-03-09 14:38] techmunk commented on #1353
@mcollina That could work, and I'd be happy to do that. I was just going through the code, and I have two other options that would solve my issue that might be more appropriate.

1. Add a new option such as "addLevelLabel`, and check this option in the `write()` in `proto.js`,
2. I think the better and simpler approach, pass the level num into the mixin callback as an option.

Option 2 would allow

[2022-03-09 15:21] techmunk commented on #1353
@mcollina I've created a pull request for option 2. #1364

[2022-03-10 08:48] moshie commented on #1322
@mcollina

I've done a bit more digging and it looks like an object called dataBuf is being held onto.

This is set inside of the thread-stream lib.

I am not sure but it might make sense to clear this buffer when the worker exits.

<img width="1080" alt="Screenshot 2022-03-10 at 08 41 10" src="https://user-images.githubusercontent.com/3974301/157622102-02082886-d30a-4e35-bfdc-dfe7f16a727c.png">

[2022-03-10 10:08] mcollina commented on #1322
Why do you think the problem is that `SharedArrayBuffer` is not being freed up? It's needed for the workers.

[2022-03-10 10:25] moshie commented on #1322
I am by no means an expert at memory issues but I guess the blue bar didn't go down after V8 completed garbage collection which makes me think perhaps that object is being held onto?

I could be completely wrong as well since I am not so sure this is using web assembly in any way :S

[2022-03-10 11:02] mcollina commented on #1322
What I mean is that this block of memory is fixed at 4 MB (or whatever other value you configure it to). It's instantiated once at the beginning, and then your application run for a while without issues. Then something happen and the worker dies for out of memory:  `WebAssembly.instantiate(): Out of memory: wasm memory`.

Unless you care constantly creating new workers all the time, I do not see h

[2022-03-11 14:21] guilhermelimak commented on #1212
I'm working on a PR for this issue, just want to clarify something, when both the parent and the child define bindings should the child overwrite the parent or should we try to merge them?
cc @mcollina

[2022-03-11 20:38] mcollina commented on #1212
you should merge them

[2022-03-13 04:40] risto24 opened #1365 "What is the difference between pino and pino-http?"
My perception is that pino-http is the appropriate choice when using the express framework.
So, is pino unnecessary when using pino-http?

[2022-03-13 05:38] risto24 commented on #1365
This question has been moved to pino-http

[2022-03-13 05:38] risto24 commented on #1365
This question has been moved to pino-http

[2022-03-13 05:38] #1365 closed

[2022-03-14 20:30] adibhanna commented on #1176
You don't need to use `flush` if you're on Node 14+

[2022-03-14 21:06] proviral commented on #1363
@mcollina Your transport logs make reference to it.
![image](https://user-images.githubusercontent.com/10924735/158261331-008ae72f-f41f-4811-8dac-1d819f4197e1.png)

[2022-03-14 21:12] mcollina commented on #1363
that's within the `targets` option

[2022-03-14 21:18] proviral commented on #1363
So there is a difference between a base target and a list of targets?

[2022-03-15 09:24] kibertoad commented on #1176
Which type does `logger` have in your case?

[2022-03-15 11:01] mcollina opened #1368 "Caller test failure on CITGM"
Pino is failing on CITGM in RHEL and Ubuntu systems

https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2880/nodes=rhel8-s390x/testReport/junit/(root)/citgm/pino_v7_8_1/
https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2880/nodes=rhel8-x64/testReport/junit/(root)/citgm/pino_v7_8_1/
https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2880/nodes=ubuntu1804-64/testReport/junit/(

[2022-03-15 11:15] #1212 closed

[2022-03-15 12:23] richardlau commented on #1368
@mcollina I've put your [ssh keys](https://github.com/mcollina.keys) onto test-ibm-rhel8-x64-3. You should be able to log in as root@[ip address from our inventory](https://github.com/nodejs/build/blob/99e22e3748f4fade7d734ed17030913ee452d8a4/ansible/inventory.yml#L159). The CI jobs, e.g. citgm, run as the `iojs` user -- (`sudo -s su - iojs` once you're logged in). `/home/iojs/build/workspace/citg

[2022-03-15 16:59] budarin commented on #1176
I tried not to make a logger.flash(), but then the record appears in the log only after the buffer is filled, which may not be filled quickly and logs are needed as soon as possible

[2022-03-15 20:30] mcollina commented on #1368
@richardlau @targos I have been trying to reproduce in that machine by running the test directly and I couldn't. The mistery keeps being there. How long can I keep the machine?

[2022-03-15 20:34] richardlau commented on #1368
@mcollina No rush for now, we have three other rhel8-x64 instances in use.

[2022-03-15 23:39] mcollina commented on #1368
@richardlau have you got any suggestion to debug this? I've tried several times and the suite is always passing.

[2022-03-15 23:41] richardlau commented on #1368
Have you tried running the test through citgm? Citgm also runs stuff in parallel -- perhaps the issue is sensitive to load?

[2022-03-16 00:20] mcollina commented on #1368
I did run
[code]

and the results came out green for pino.

I'm now trying running the test standalone a lot of times to see if it crashes.

[2022-03-16 00:30] richardlau commented on #1368
Best of luck! The citgm job does pass `--tmpDir /home/iojs/tmp/citgm_tmp` to citgm to redirect the temporary directory, but otherwise that looks like how the job invokes citgm.

[2022-03-16 20:10] HUGEIT opened #1369 "does pino throttle output?"
I was debugging something using pino and noticed that some functions are called with a noticeable delay. whilst I'm still not quite sure where the bottleneck in my code is I noticed that I'm seeing `console.log`s much earlier than the pino output.

pino seems to be instantaneous at first but as the process ages, the pino output seems to come in later and later.

I can see a few seconds' delay betw

[2022-03-16 20:51] mcollina commented on #1369
Yes this is synchronous

[2022-03-16 21:10] HUGEIT commented on #1369
man I really don't know how to prove my point here. the statements are literally one after another and there is this delay.

I will check if I'm able to make a minimal example somehow

[2022-03-16 21:26] HUGEIT commented on #1369
ok here is an example output

code is:

[code]

output is:

[code]

after a few minutes this is worse:
[code]

and eventually it even goes cross-over:
[code]

like the console.log printed for iteration n AND for iteration n+1 which are at least 20 seconds apart before suddenly the logging catches up with the console.logs but not at all in an synchronous order with the console.logs

any idea?

[2022-03-16 23:57] mcollina commented on #1369
What OS is this code running? Could you upload a complete example to reproduce this problem: something I can run on my system.

[2022-03-17 08:38] mcollina commented on #1368
I've opened a PR to fix this! You can reintegrate the instance back into the fold or leave it there until after we have released the new version of pino and tested on CITGM.

[2022-03-17 08:49] #1368 closed

[2022-03-17 09:14] mcollina commented on #1368
Fresh CITGM: https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2887

[2022-03-17 13:19] mcollina opened #1372 "New failures on CITGM"
@mcollina Is this the cause of the pino@7.9.0 failures in CITGM (for the Node.js 14.19.1 proposal): https://ci.nodejs.org/job/citgm-smoker/2886
e.g. https://ci.nodejs.org/job/citgm-smoker/2886/nodes=rhel8-x64/testReport/junit/(root)/citgm/pino_v7_9_0/

_Originally posted by @richardlau in https://github.com/pinojs/pino/issues/1370#issuecomment-1070893963_

[2022-03-17 17:31] richardlau commented on #1372
Thanks @mcollina ❤️

[2022-03-17 17:36] mcollina opened #1375 "Flakyness in transport/core test"
In https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2888/nodes=rhel8-s390x/testReport/junit/(root)/citgm/pino_v7_9_1/, we can see that the transport/core test is flaky:

[code]

I don't know why.

[2022-03-17 21:50] castarco commented on #1243
If nobody is currently working on this issue, I'd like to pick it 🙂 . I'll start working on it tomorrow morning. Some good ideas have already been presented in this thread, I believe I can apply some of them plus a bit of extra polishing to improve the compatibility with TS & CJS modules.

[2022-03-18 06:39] JaneJeon opened #1376 "Custom interpolation?"
Hi, searched the docs and the issues page for formatters and interpolation, but I don't see this anywhere.

Is there a way I can specify a custom interpolator (e.g. %t) akin to [this](https://github.com/debug-js/debug#formatters) so that `log.$method('%t', objToBeInterpolated)` can be interpolated in that custom format?

[2022-03-18 07:55] mcollina commented on #1376
I don't think this is supported but a PR to quick-format-unescaped  could add this capability.

[2022-03-18 07:56] mcollina commented on #1243
Go for it!

[2022-03-18 08:37] moshie commented on #1322
We have a log that fires for all successful requests from our application we noticed when we remove it the issue goes away. This log fires a lot as you can imagine.

The memory is still rising in our application but at a **much** slower rate (I suspect the other logs left in there) and I haven't seen the `WebAssembly.instantiate(): Out of memory: wasm memory` error yet.

I think that there is a le

[2022-03-18 08:46] mcollina commented on #1322
How many workers are you creating? You should not be needed more than a few.

[2022-03-18 08:52] moshie commented on #1322
Does pino create a worker for each log?

[2022-03-18 09:11] mcollina commented on #1322
Can you articulate this question? Having an example of your setup would be useful.

(Your application should not create a new worker for each log).

[2022-03-18 09:24] moshie commented on #1322
I am using transports to log events as I understand it the code that handles the log runs inside of a worker I am curious if pinoJS creates a new worker for every time we run a log?

Unfortunately the application I am working on is under an NDA so I can't share with you too much of the code.

I can attempt to re-create a low level version of what I am doing which may or may not reproduce the error

[2022-03-18 09:37] mcollina commented on #1322
No, there is only one worker instance for every transport you create.

[2022-03-18 10:50] moshie commented on #1322
I created a project with a dumbed down version of our app hopefully that's helpful.

You'll find most of the code in the /helpers folder

https://github.com/moshie/memory-issue

[2022-03-18 11:18] moshie commented on #1322
[threads-sample-11-15-00.txt](https://github.com/pinojs/pino/files/8304020/threads-sample-11-15-00.txt)
I took a sample of the process from the activity monitor

[2022-03-18 11:25] marcbachmann commented on #1322
You shouldn't create a  new pino instance for every request: https://github.com/moshie/memory-issue/commit/102946eb6129f9b846bf3ad353fa33e5fa264fb6#diff-c1b593e8452344f7bae31fbb28f6489d240c99280ec645332dc7ae5e5fc5a9f6R15

There's no reason why that isn't declared globally

[2022-03-18 11:32] #1322 closed

[2022-03-18 11:32] mcollina commented on #1322
Pretty much that!

[2022-03-18 11:52] moshie commented on #1322
Thanks both! I'll refactor stop it doing that

[2022-03-18 16:44] JaneJeon commented on #1376
Okay, so full disclosure, I wanted the custom interpolator - %t - specifically to format milliseconds into a readable "datetime string"; however, it most certainly will require configuration (after all, there are as many ways to display time as there are milliseconds), and the current structure of quick-format-unescaped seems unfit to do something like this.

In particular, the fact that you're su

[2022-03-18 17:12] mcollina commented on #1376
I'm pretty sure @davidmarkclements don't mind. I prefer that configuration pattern anyway, you can make it semver minor with the following trick:

[code]

[2022-03-18 17:40] krouw commented on #1363
Testing on the [transport example](https://github.com/pinojs/pino/blob/master/examples/transport.js), when configuring a list of targets, they only work with the configured level and omit the root level. I don't know if it is the expected behavior, however, it would be interesting to be able to change the root level and also change the level of the targets or configure a root target apart from the

[2022-03-18 18:46] JaneJeon commented on #1376
I suppose so. But pino is using it, so it will have to adapt to this usage as well (or use that trick). Are you okay with that? If so, I’ll make the PR

[2022-03-18 18:49] mcollina commented on #1376
Yeah, no prob.

[2022-03-18 23:21] JaneJeon commented on #1376
Well, shit. I'm not able to make "the trick" work (the test complains that $import.build() is not a function, not to mention I'm preeeetty sure this trick doesn't work with ESM, too).

Would it be okay to just export build directly?

[2022-03-19 00:15] JaneJeon commented on #1376
Welp, published it anyway.

[2022-03-21 16:08] mcollina commented on #1243
@castarco could you send a PR to pino as well that tests this feature here too?

[2022-03-21 16:38] castarco commented on #1243
on it

[2022-03-22 08:44] avaly opened #1378 "Child loggers print duplicated bindings"
I believe the change from #1367 has an undesired side effect to the output of the JSON fields in the log lines: the bindings are printed twice in child loggers.

## Steps to reproduce

[code]

Running this would print:

[code]

Notice the duplicated `pid` and `hostname` in the child log line.

[2022-03-22 13:20] doums commented on #1369
Hi, I'm not 100% sure, but maybe I'm currently facing the same weird problem with pino :

This is how I instantiate pino
[code]
Then this same logger instance is used throughout our app (we use the same instance, we don't recreate new ones). We just do usual log like `log.debug`, `log.info` and `log.error`. This is the only interactions we have with the logger. Nothing special.

Our app is just a

[2022-03-22 13:38] #1378 closed

[2022-03-22 13:55] doums commented on #1369
@mcollina you mixed posts from @HUGEIT and mine @doums

[2022-03-22 21:54] mcollina commented on #1369
I would really like to have a way repro this

[2022-03-23 19:58] mcollina commented on #1375
This still happens but with a lot less frequence, see https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2895.

[code]

[2022-03-23 19:59] mcollina commented on #1375
@richardlau do you think I can get access to that machine so I can track this down? Thanks for the help, those are real bugs.

[2022-03-23 19:59] ntedgi commented on #1347
hi @moshie are you still working on it ? if not i would like to help here

[2022-03-23 20:05] richardlau commented on #1375
Yeah. I shuffle things round (put back the other machine into the pool and take out this one) after the TSC meeting.

[2022-03-23 20:10] mcollina commented on #1375
Thanks!

[2022-03-23 20:34] richardlau commented on #1375
@mcollina I've removed your key from [test-ibm-rhel8-x64-1](https://ci.nodejs.org/computer/test-ibm-rhel8-x64-3/) and returned it to the CI. I've taken [test-ibm-rhel8-x64-1](https://ci.nodejs.org/computer/test-ibm-rhel8-x64-1/) offline from Jenkins and added your keys to that one.

Access is the same as before but with the IP address for -1 from our inventory. Let me know when you're done or have

[2022-03-23 21:36] moshie commented on #1347
Hey nope haven't started this yet feel free to pick it up 🙂

[2022-03-23 21:52] adeelrqureshi opened #1383 "Error: "fn is not a function" while setting up a pino transport via pipeline"
I'm not able to figure out what might be going wrong here,I am trying to set up a pino transport via pipelines and I get the following error . Looks like its reaching a condition where **fn** remains un-initialized

Any help clues would be greatly appreciated, My apologies if sufficient detail isn't provided as posting for the 1st time

TypeError: fn is not a function
    at /project/user-app/node

[2022-03-23 21:57] mcollina commented on #1383
Can you provide steps to reproduce? We often need a reproducible example, e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-03-24 02:24] #1344 closed

[2022-03-24 09:26] adeelrqureshi commented on #1383
Thanks @mcollina for the quick response. Let me see if I can setup a small repo ( by removing unnecessary code)  that allows to reproduce this.

[2022-03-24 15:07] adeelrqureshi commented on #1383
Unfortunately i'm not able to re-produce this by creating a lean docker image, but its appearing consistently on my Staging Openshift build. This may be related to how openshift is building my image and not relevant with the pino itself. I'll post updates here if i'm able to find anything more relevant

Thankyou

[2022-03-26 16:04] neelkamath opened #1386 "Regex redaction"
I want to redact IP addresses. The redaction functionality documented looked like it only worked with hardcoded strings with small patterns like "*", I couldn't figure out how to filter it using the API, and I couldn't find anything in the ecosystem. Is this possible with Pino?

[2022-03-26 20:53] HUGEIT commented on #1369
I'm really sorry but I'm unable to make a minimal example.

we have this somewhat big project that showcases that behavior under specific circumstances but if I try to fetch the relevant bits and loop them 50k times, I cannot reproduce and pino works as expected. it's only with the big project that this issue comes up.

what I thought to be too was that it happens once CPU usage sticks to 100 for

[2022-03-27 21:05] mcollina commented on #1386
Do you know what properties will include the ip addresses?

[2022-03-28 05:30] neelkamath commented on #1386
There could be fields that I'm unaware of but I'm aware of the field names for the most part.

[2022-03-28 06:47] mcollina commented on #1386
Then you can redact those fields.

[2022-03-29 07:12] ntkoopman commented on #1358
I have the same issue and it seems to be caused by pino being in a parent node_modules directory instead of the project one (we are using yarn workspaces)

[2022-03-29 07:45] mcollina commented on #1369
That's not correct. The default configuration of pino uses `fs.writeSync()`. Or are you using any other configuration?

What version of pino are you using?

[2022-03-29 14:04] jsumners commented on #1369
Are all logs properly timestamped?

[2022-03-31 03:19] convers39 opened #1388 "no such file or directory when setting to different log destination directory"
[code]

I want to put the log file in a folder in the root dir of my app, the app is running in docker and the root dir is `/app`.

The problem here is that, when I use the `__dirname` as the destination, the log file will be created automatically if it does not exist. But when set to the root dir folder, the app will crash with this error:

<img width="984" alt="image" src="https://user-images.gi

[2022-03-31 05:46] convers39 commented on #1388
Change to the code below and seems working:

[code]

[2022-03-31 09:07] feugy commented on #1323
Hello folks.
I'd like to volunteer on this one.

I did a quick spike with sonic boom, and it's indeed _very easy_ to create a transport that rotates files based on their size.

@noweh I will not aim at supporting all the options `file-stream-rotator` has. Can you tell me what you'll need most:
1. rotate based on daily/test frequency
2. rotate based on custom frequency
3. rotate based on file size

[2022-03-31 10:06] mcollina commented on #1323
Go for it!

[2022-03-31 10:19] mcollina commented on #1388
I think you missed the `mkdir` option:

[code]

[2022-03-31 10:19] #1388 closed

[2022-03-31 10:20] mcollina commented on #1388
Anyway, I would recommend you to move to use pino-pretty as a stream:

[code]

[2022-03-31 15:48] feugy commented on #1323
Another silly question @noweh. When rotating files, there are multiple strategies:

1. current log file name is the previous file name +1(in particular, when using max size):
[code]
2. current log file name is constant, and older logs are shifted by one on rotation:
[code]

I believe `file-stream-rotator` implements the first, but Unix `logrotate` [command](https://man.cx/?page=logrotate) implemen

[2022-03-31 17:19] noweh commented on #1323
Thanks for the update. Rotate based on daily would be great. Without preference for the files name: the simplest is the best 👍😃

[2022-04-01 01:59] convers39 commented on #1388
Hi,

Thank you for your explanation. Yes, I noticed that the `mkdir` option should be set to true, so by default, it is `false`?

And I changed to multistreams so that I can output to different files with corresponding levels, but the pretty stream just output nothing to the console.. Outputs to files are working well.

If I remove the level prop and go with stream prop only, the pretty stream wor

[2022-04-01 13:10] feugy commented on #1323
It's not easy to get it reviewed, but here is a "draft" implementation.

https://github.com/feugy/pino-roll

It needs more automated testing but may be just enough for @noweh to do some testing.
Let me know what you think, and I'll resume this next week.

[2022-04-01 13:24] noweh commented on #1323
Thanks again! I hope to find time at the beginning of next week to test all this.

[2022-04-01 19:18] feugy commented on #1323
@mcollina, yes I will, when we'll be happy with the proposal. Let's see how useful it is first.

[2022-04-05 14:01] mmhoang opened #1392 "Clarification on wildcard documentation"
Hello! I'd like to be able to use wildcards in this way:

`
// Need to redact my_secret, my_other_secret, another_secret
paths: ['*secret'],
`

It is unclear from the documentation if this is supported, or whether wildcards only pertain to whole keys and not parts of key words?

[2022-04-05 19:33] trevorr opened #1393 "setBindings is missing from Typescript typings"
`setBindings` was added in https://github.com/pinojs/pino/pull/754 but is not present in `pino.d.ts`.

[2022-04-06 13:03] webhype opened #1396 "pino streaming to tee flushes a maximum of 100 - 500 lines to the log file, never more"
Expected result: 1000 - 3000 lines in the log file
Actual result: 100 - 500 lines, seems random when it cuts off
OS: Mac OS or Linux
Code to reproduce, closely resembling pino-tee ESM examples at: https://github.com/pinojs/pino-tee/pull/18/files#diff-98328e3b3ad8e1560c1bbe15b7e4de95e8724b7b542d64c0a752116dd8d8c973

[code]

[2022-04-06 14:50] mcollina commented on #1396
Closing in favor of https://github.com/pinojs/pino-tee/issues/89.

[2022-04-06 14:51] #1393 closed

[2022-04-06 15:55] mmhoang commented on #1392
I have not tried it... unfortunately the context that we need this for is error logging of sensitive data, so I would need to construct an artificial example to replicate it.

[2022-04-06 20:51] webhype commented on #1396
Upon further research, I think this issue should remain open here and the one on pino-tee one should be closed.

As you can see from the above code, the same problem happens regardless whether you call `node node_modules/pino-tee/tee.js` or you call the Linux / Mac OS command `tee`. So I feel the problem is really with pino, not with pino-tee.

[2022-04-06 21:05] mcollina commented on #1396
We are actually doing nothing with the stream, we just call `.write()` to it.
I'll take a look tomorrow

[2022-04-06 21:42] mcollina commented on #1396
It's a node core bug: https://github.com/nodejs/node/issues/42630

[2022-04-06 21:42] #1396 closed

[2022-04-06 22:35] mcollina commented on #1392
Go for it! I suspect it's not supported but please verify.

[2022-04-07 19:53] Vunovati commented on #1292
I am working on this.

[2022-04-08 10:45] 06000208 opened #1400 "Logging inside process exit event?"
Before migrating to pino, I used this pattern with various loggers:
[code]
This works correctly with pino with the default usage:
[code]
[code]
However, when using a transport (such as pino/file), an error is thrown and the line isn't logged:
[code]
[code]
[code]
I noticed pino.final() in the docs, but it's deprecated, and doesn't seem intended for this anyway.

Is there a way of logging from an e

[2022-04-08 10:56] mcollina commented on #1400
This is a good bug, the good news is that we can totally support it. The problem is in order for transports to work we need to add an exit handler ourselves... in which we close the worker. We might need to change the logic a bit to make sure pino exit handler is always the last.

[2022-04-08 10:56] mcollina commented on #1400
The bad news is that I might not have time to work on it.

[2022-04-08 12:26] jsumners commented on #1400
Is this the return of? https://github.com/pinojs/pino/pull/1075#issuecomment-885729139

[2022-04-08 12:45] Vunovati commented on #1292
@jsumners could you please take a look if [my PR](https://github.com/Vunovati/pino-opentelemetry-transport/pull/1) solves the issue?

[2022-04-08 12:47] mcollina commented on #1400
Same feature, different implementation. The fix is in https://github.com/mcollina/on-exit-leak-free and we must make sure that the specified handler is always the last.

[2022-04-08 13:00] jsumners commented on #1292
@mcollina would you like to bring this into the org?

[2022-04-08 21:34] #1375 closed

[2022-04-08 21:35] #1189 closed

[2022-04-08 21:43] mcollina commented on #1375
CITGM to test: https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2912/

[2022-04-09 10:16] mcollina commented on #1375
@richardlau this is indeed fixed, thanks for the help!

[2022-04-12 07:58] dstockhammer opened #1404 "Add raw message template to json payload"
Hi there, I'd like to be able to add the raw message templates to the json payload in addition to the formatted message. For example, given this log:

[code]

I'd like to get this output:

[code]

Is there a way to achieve this? I've tried using hooks, mixins and formatters, but couldn't manage to find a solution. Basically my idea was to add `inputArgs[0]` (which is the message) to `mergeObject`

[2022-04-12 08:19] mcollina commented on #1404
You could do something like:

[code]

Unfortunately this is not something that can easily work from the hooks.

[2022-04-12 14:26] filipedeschamps commented on #1322
@marcbachmann has this worked out for you?

I started to see the exact same behavior (Next + Pino), and I'm declaring it the global scope in a `logger.js` module:

[code]

I code using Jest "watch" mode, and after a while:

[code]

[code]

[2022-04-12 14:43] jtoronto opened #1405 "Ignores set level when using multiple transport targets."
When using a list (array) of targets, it seems to default to 'info' level regardless of what level I have set either at the root level, or on the individual targets. If I only use one target (either pino-pretty or pino-cloudwatch-transport, the set level is respected. I'm using it like this:

[code]

Just a quick update after more experimentation. It doesn't matter if I use multiple transport targ

[2022-04-12 14:53] mcollina commented on #1405
each target has its own level that defaults to info.

[2022-04-18 23:02] #1243 closed

[2022-04-21 21:28] anton-hniadyi opened #1411 "Can not reuse Pino-pretty before sending message to any target"
You are killing me!
Why I can't use Pino-pretty in a pipeline for formatting data before sending to any target?
It is very simple approach format it before sending to anywhere...
But instead this I should spend a lot of time to figure out how to format my data before sending to any target.
Why I can't use option "prettyPrint: true" for formatting before sending to anywhere?
Why I can't just reuse

[2022-04-21 21:34] mcollina commented on #1411
I'm closing this. Feel free to dig  deep and figure things out. Your tone in the message does not invite anyone of the maintainers in giving you an answer. They owe you nothing after all.

[2022-04-21 21:34] #1411 closed

[2022-04-22 15:49] vsnthdev opened #1412 "Special characters are messed up"
### 🐛 What happens

When creating a custom prettifier function, special characters break in the output.

Using the following code to create a custom prettifier function 👇

[code]

The following is the output 👇

![Snip](https://user-images.githubusercontent.com/24322511/164748754-76e2226d-bed6-4179-92a6-d7dfef473860.jpg)

### ✅ What should happen

Special characters & emojis and colored text should

[2022-04-22 21:37] mcollina commented on #1412
Thanks for reporting. However we will be removing all of that prettifier implementation in the next release. You can now do all the post-processing of log lines in a separate thread, check out https://getpino.io/#/docs/transports.

[2022-04-22 21:37] #1412 closed

[2022-04-23 00:39] tasdflkjweio opened #1413 "Configuration ignored when multiple transport targets"
The formatter and timestamp are disregarded when using the following configuration:

[code]

I still see the log level number (rather than label) and epoch time in ms.

[2022-04-23 06:56] mcollina commented on #1413
Unfortunately we need levels to be a number for multistream to work. Essentially the level formatter is incompatible with transports. We need to throw a better error.

I would love to have some code that implements it, however I do not think it's possible.

[2022-04-23 11:48] meotimdihia commented on #1383
I am getting this error, with both example:
[code]

[code]

[2022-04-23 12:05] mcollina commented on #1383
Looks like a problem in pino-sentry

[2022-04-25 17:15] tasdflkjweio commented on #1413
Is there another mechanism for handling this?

[2022-04-26 06:23] HPieters opened #1416 "Unknown file extension ".ts" when using pino.transport targets"
I am migrating to pino 7 and decided to take advantage of the new transport functionality. However I keep running into an "issue" that I am unsure is due to my lack of understanding or bad doc reading. I am using typescript / ts-node which as far as I can tell should work as of PR [https://github.com/pinojs/pino/pull/1381](https://github.com/pinojs/pino/pull/1381).

The issue I am having is that m

[2022-04-26 10:48] climba03003 commented on #1416
The last published version is `18 days ago` and the PR is merged `8 days ago`.
I think it is just pending to be release.

The reason why `target` works because `thread-stream` support `.ts` in released version. And `target` is processed by `thread-stream`.

[2022-04-26 18:43] HPieters commented on #1416
Thanks for the quick update and the release! Due to `- For "pure" TypeScript code, ES imports are still not supported (ES imports are supported once the code is transpiled)` I still cannot use my typescript code. However I realised I don't need my transport worker to be typescript, and by using .mjs rather than .ts it all works like a charm!

[2022-04-26 18:44] HPieters commented on #1416
Thanks for the quick update and the release! Due to `- For "pure" TypeScript code, ES imports are still not supported (ES imports are supported once the code is transpiled)` I still cannot use my typescript code. However I realised I don't need my transport worker to be typescript, and by using .mjs rather than .ts it all works like a charm!

[2022-04-26 18:44] #1416 closed

[2022-04-27 03:18] deanhaleem opened #1418 "setBindings() does not overwrite existing bindings"
Hello!

While using `setBindings()` and referring to the docs comment in the [types](https://github.com/pinojs/pino/blob/master/pino.d.ts#L107-L112), I expected it to at least overwrite existing fields. However, it ends up duplicating the field in the log.

Is this the intended behavior? Based on [this unit test](https://github.com/pinojs/pino/blob/master/test/basic.test.js#L41-L45), I didn't thin

[2022-04-27 07:37] mcollina commented on #1418
This was a design choice for performance reasons . I don't see us changing this, would you like to send a PR to the did to clarify?

[2022-04-27 19:20] jeffrson opened #1420 "child logger does not overwrite name, but adds it a second time"
Given this short test:
[code]

gives this output:
[code]

As you can see, "name" exists twice.

[2022-04-27 21:38] jsumners commented on #1420
This is working as designed https://getpino.io/#/docs/child-loggers?id=duplicate-keys-caveat

[2022-04-27 21:38] #1420 closed

[2022-04-29 08:24] akashishu777 opened #1422 "Cannot find module 'thread-stream' from 'node_modules/pino/lib/transport.js'"
Fastify test is failing

<img width="778" alt="image" src="https://user-images.githubusercontent.com/19200161/165909617-6df7f2fb-3279-4306-9ec9-6a1fed0f3e07.png">

[2022-04-29 08:44] mcollina commented on #1422
For some reason your node_modules does not contain the needed dependencies. Remove it, remove your lock files, and install everything again.

[2022-04-29 08:44] #1422 closed

[2022-04-29 08:46] mcollina commented on #1217
I think we should link to that module in our docs!

[2022-04-29 10:24] akashishu777 commented on #1422
@mcollina, After many tries I am getting a different error now, can you please have a look

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/19200161/165927607-2875f95b-4557-43c4-a7b0-2894e9c0830d.png">

[2022-05-02 19:51] dmitrizagidulin opened #1429 "ThreadStream.write "worker has exited" error."
Hi all. We're getting an error trying to use Pino v7.10.0 (and `pino-pretty` v7.6.1) in our server (running on Node >=17).

our package.json:
[code]

The logger config is fairly standard: https://github.com/XRFoundation/XREngine/blob/dev/packages/server-core/src/logger.ts

And this is the error we're getting on startup (using a standard builder deployment inside AWS kubernetes, Node v18).

![image

[2022-05-02 20:06] dmitrizagidulin commented on #1429
My initial thought was that this is related to https://github.com/pinojs/pino/issues/1400. But it's pino itself that's causing the error (not just that there's some other error, and we're logging during exit).

[2022-05-02 22:10] mcollina commented on #1429
Does that code work correctly in development / local machine?

[2022-05-03 01:23] dmitrizagidulin commented on #1429
That's the mysterious part -- I can't reproduce it locally on Mac OS X. (Will be able to test it locally on Linux tomorrow).

[2022-05-03 05:44] mcollina commented on #1429
If you can provide a minimal reproduction code, I'll be happy to test this.

[2022-05-04 08:47] ashishguptasanu commented on #1429
Hi @mcollina, Here is the logger snippet,
`import pino from 'pino'

let node = process.env.ELASTIC_HOST || "http://localhost:9200";

const logger = pino({
  transport: {
    targets: [
      {
        level: 'debug',
        target: 'pino-pretty',
        options: {
          colorize: true,
          translateTime: true
        }
      },
      {
        level: 'debug',
        target: 'pino-elas

[2022-05-04 09:34] mcollina commented on #1429
This seems a duplicate of https://github.com/pinojs/pino-elasticsearch/issues/140.
Would you like to send a PR to pino-elasticsearch to handle this case?

[2022-05-04 13:11] nenadfilipovic opened #1430 "Help with sending logs to slack on graceful shutdown"
Can I get some guidelines how to handle this situation. I need to report errors to my Slack channel and results are very inconsistent. Startup logs works fine but when I hit ctrl+c I dont get any output when using custom transport even if I just console.log `obj` in code example below. For graceful shutdown I am using https://www.npmjs.com/package/http-graceful-shutdown and transport is simple
[co

[2022-05-04 13:33] mcollina commented on #1430
It's very hard to help you given that we cannot run the code. Could you create an example that is just calling an http endpoint to simulate slack?

[2022-05-04 14:16] nenadfilipovic commented on #1430
Ok. lets try

Transport
[code]

Logger
[code]

Server
[code]

Graceful shutdown package will handle SIGINT, SIGTERM signals.
Without transport pino will log after ctrl+c and with transport it will exit silently.

[2022-05-04 19:18] dmitrizagidulin commented on #1429
@mcollina - this _could_ be a duplicate of https://github.com/pinojs/pino-elasticsearch/issues/140, but we got the same thread worker error when testing with the `pino-pretty` transport alone (no elastic).

[2022-05-04 22:44] mcollina commented on #1429
So this is not correct, right?

[2022-05-04 23:17] mcollina commented on #1429
How often does this reproduce? Have you got a way to reproduce it reliably?

[2022-05-04 23:26] mcollina commented on #1429
I have a few ideas on why this can happen but I really need a repro to verify them.

[2022-05-05 00:30] dmitrizagidulin commented on #1429
@mcollina thanks for looking at this, muchly appreciated.

I'm going to work with our devops team to see if we can replicate. (Because, frustratingly, we can't replicate the error locally on our desktops, on MacOS or Linux, but it happens consistently on our dev cluster (k8s etc)).
So, lemme see if I can find more details.

[2022-05-05 10:36] mcollina commented on #1429
Here is my theory: the transport crash because of a bug. However the error is not reported correctly on the main thread due to a race condition.

[2022-05-05 13:44] devinrhode2 opened #1431 "pino({ level, stream }) does not produce type error (typescript stream LoggerOptions | DestinationStream)"
This does not produce a type error:
[code]

Probably the signature for `pino` is too complicated. Simplifying it will make writing the TS defs for it simpler (and easier to write+maintain).

I'd suggest something like:
[code]
OR, make it one argument and just put everything into `LoggerOptions`:
[code]

A simpler TS type def will probably be more reliable long term and also produce a type error in

[2022-05-06 09:59] feugy commented on #1323
Hello gents!

@noweh, @DRoet I've published [`pino-roll@1.0.0-rc.1`](https://www.npmjs.com/package/pino-roll), please have a try and let me know.

@mcollina I'll add this to the list of known transport afterward

[2022-05-06 14:11] devinrhode2 commented on #1431
I'm not sure what you mean

I assume this is the parameter you are referring to:
[code]
I don't know what you mean by "double casing"

I believe I originally encountered this bug by updating from pino.. 7.0.2? All the way to latest 7.11

[2022-05-06 14:14] devinrhode2 commented on #1431
It seems some older version of pino supported loggerOptions.stream

[2022-05-06 16:51] mcollina commented on #1431
Do you know which version supported it? I'm mot convinced we  ever did.

Anyway, would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-08 11:50] devinrhode2 commented on #1431
Of the two ideas I
Suggested both are pretty hard breaking changes, likely calling for a major version bump. I don't think it'd be very hard to make the change, the main dilemma would be the version bump.

Given you think stream was never a supported property, I have few questions
-what if it was added? Something like "writeStream"? "pino" would then only accept one options object parameter

Which

[2022-05-08 12:02] mcollina commented on #1431
This is implementable without having any breaking change.

[2022-05-08 17:20] devinrhode2 commented on #1431
I don't know exactly why TS isn't creating a type error in my original example. I'm guessing because LoggerOptions type is too loose.. so if it's possible to more directly address that issue, that's the change we should do.

But in future major version, I think we should consider making stream a property

[2022-05-09 17:54] ghost opened #1434 "How to filter based on response object"
I'm using `pino` for logging in a `Fastify` app. I'm not sure if my configuration is fine, while the purpose is to lower logging volume:

[code]

I'm trying to filter `reponse` object being logged indeed by using the `stdSerializer` but sometime I don't want to log at all.

Thanks a lot !

[2022-05-09 19:51] dmitrizagidulin commented on #1429
Ok, so, we may have solved the issue, and should now be running on pino 7, via PR https://github.com/XRFoundation/XREngine/pull/5946

[2022-05-09 21:03] jsumners commented on #1434
https://www.fastify.io/docs/latest/Reference/Server/#disablerequestlogging

[2022-05-09 21:34] mcollina commented on #1429
what was it?

[2022-05-09 21:36] dmitrizagidulin commented on #1429
@mcollina - I'm not entirely sure, but it seems to be fixed by using `pino-multi-stream` transport to combine th console & elastic search transports. https://github.com/XRFoundation/XREngine/pull/5946/files#diff-cdb6907467cab0c8b4a5eef09756e52cb54375fd7f03121920d31032c96e1cc6R23

[2022-05-10 06:07] bacloud22 opened #1435 "Possibility to filter in serializers"
Having:

[code]

[2022-05-10 06:08] #1435 closed

[2022-05-10 06:10] bacloud22 commented on #1434
Hello @jsumners
Doesn't this degrade performance ?
Disabling Fastify logs by default and implementing log through hooks ?

Thanks !

[2022-05-11 04:48] harishsambasivam opened #1436 "Pino logger automatically adds \ to log outputs"
When we try to print HTTP requests and sequelize queries using Pino logger instance, it is automatically adding "\" to our log output.

Expected Behaviour:
Should not add "\\" to log output

Current Behaviour:
adds "\\" to log output

Eg:
[2022-05-11T04:45:50.572Z] INFO (9154 on macbook-pro.local):
    requestId: "6418012e-dc5d-464f-801f-10e3267abc12"
    module: "database"
    message: "[sequeliz

[2022-05-11 12:54] #1436 closed

[2022-05-11 13:03] jsumners commented on #1434
That is entirely dependent on what you do in your hooks.

[2022-05-11 13:06] bacloud22 commented on #1434
Thanks 🙏

[2022-05-11 13:06] #1434 closed, assigned to nobody

[2022-05-11 17:45] jsumners opened #1437 "Unclear how an error is received from worker transport"
I'm trying to understand how a worker thread is passing an error back to the main Pino process through the worker message bus. In the code below there is a transport with an internal `EventEmitter` that emits an unhandled `error` event. Yet, somehow, we can attach an `.on('error')` listener to the transport and handle that emitted event. How does this work?

<details>
<summary>package.json</summar

[2022-05-12 08:23] harishsambasivam commented on #1436
Thanks, jsumner. Yes, im using pino-pretty to pretty print the logs. But sequelize queries are escaped with \.Im looking for a way to remove those extra "\" from log.

[2022-05-12 15:53] harishsambasivam commented on #1436
Thanks jsumners :), yes pino-pretty is printing like that, but in elastic search it is fine. Thanks for your suggestions.

[2022-05-18 08:59] mcollina commented on #1437
The error is catched in:

https://github.com/pinojs/thread-stream/blob/f19ac8dbd602837d2851e17fbc7dfc5bbc51083f/lib/worker.js#L59-L70

and

https://github.com/pinojs/thread-stream/blob/f19ac8dbd602837d2851e17fbc7dfc5bbc51083f/lib/worker.js#L135-L149

Then, it's forwarded to the transport `'error'` event in https://github.com/pinojs/thread-stream/blob/f19ac8dbd602837d2851e17fbc7dfc5bbc51083f/index.

[2022-05-18 08:59] mcollina commented on #1437
It will be good to document this.

[2022-05-18 09:04] mcollina commented on #1429
You should use https://getpino.io/#/docs/api?id=pino-multistream, not pino-multi-stream.

[2022-05-18 16:12] dmitrizagidulin commented on #1429
Ah, thanks for the heads up!

[2022-05-19 11:58] budarin opened #1438 "[Testing] Capture log output for use in tests"
We are developing a microservice in which we use pino logger as a logger.

During testing of the microservice, it throws out standard errors for various reasons.
Analyzing only the response of the service with a standard error does not give an idea and confidence that the service responds correctly to the request and responds with an error to a specific situation.

The only option to make sure tha

[2022-05-19 14:24] jsumners commented on #1438
This has been answered in https://github.com/fastify/help/issues/677. Please do not open duplicate issues.

[2022-05-19 14:24] #1438 closed

[2022-05-21 05:12] nenadfilipovic commented on #1430
@mcollina any chance to look at this?

[2022-05-21 06:39] mcollina commented on #1430
Unfortunately not yet, it's in the  queue after Fastify v4.

things to verify, in this order:
1. never use console.log in workers. It does not work the way you think.
2. http-graceful-shutdown might be incompatible with pino transports and a change here or there might be needed.

[2022-05-21 09:41] nenadfilipovic commented on #1430
Thanks, I was banging my head so much with inconsistencies with console.log.

[2022-05-25 16:56] efenderbosch opened #1440 "How to collect LogEvents and batch?"
My plan is to use pino in the browser and send logs to our remote server using the user's JWT. The problem is LogEvents that happen before they are logged in. Should I just collect those in a circular buffer (or something similar) and then send those pending events once they've logged in?

[2022-05-25 22:14] mothershipper opened #1441 "nestedKey + mixin behavior change as of V7"
We've been using nestedKey + mixin setting to add standard keys to the root level of the logger, but put caller data under a nested key.  We have a shared library with a factory func that creates a standardized logger, something like this:

[code]

As of the v6 release, this used to let us segment where the metadata is coming from in our logs -- if it's at the root of the log, it's coming from pin

[2022-05-26 05:47] mcollina commented on #1441
This was deliberate and part of https://github.com/pinojs/pino/pull/885. A doc update would be awesome!

[2022-05-26 06:44] mcollina commented on #1440
I would recommend you to do that, yes!

[2022-05-26 06:44] #1440 closed

[2022-05-26 08:13] itsgaurav opened #1442 "Can't remove pid, hostname & version field from each log line"
Want to remove the _hostname_, _v_, & _pid_ attribute. Sample log output
 _{"level":"info","time":1653552674618,"pid":5911,"hostname":"Gauravs-MacBook-Pro.local","msg":"an info log","v":1}_

[2022-05-26 10:44] mcollina commented on #1442
Take a look at https://getpino.io/#/docs/api?id=base-object.

[2022-05-26 10:44] #1442 closed

[2022-05-26 17:57] mothershipper commented on #1441
Thanks @mcollina - I'll whip something up today.

Would you happen to have a suggestion for how we can get the original behavior back through pino?

For more context on the use-case: we have a few fields that we pull from async local storage and inject through the mixin function -- for example requestIDs, traceIDs, etc.  We'd like to maintain those fields at the root since we have indices already

[2022-05-26 21:31] stuft2 opened #1443 "Invalid JSON in raw output"
The following example produces invalid json.

Node v16.15.0
Pino v7.11.0

[code]

It should print only one "name" property.

[2022-05-26 21:35] jsumners commented on #1443
https://getpino.io/#/docs/api?id=name-string
https://getpino.io/#/docs/child-loggers?id=duplicate-keys-caveat

[2022-05-26 21:43] stuft2 commented on #1443
The error does not occur in the following example, which seems super inconsistent with the first example above:

[code]
Why is the merge object in this example property deduplicating the keys but it's not in the first example?

[2022-05-26 21:54] jsumners commented on #1443
This is a bug. Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-26 21:55] stuft2 commented on #1443
I will take a look

[2022-05-30 07:38] simone-sanfratello opened #1445 "proposal: spy transport"
I'd like to have spy capabilities on `pino`
~~since its design, we can't use `sinon` or so to add spy capabilities on a `pino` instance~~

My use case: I want to ensure logs output, since alarms and metrics are bases on them. Because of application design, I can't inject a dummy log instance to spy, I need to spy the real instance, and I believe it's the cleanest solution

I'm thinking to write a

[2022-05-30 08:49] mcollina commented on #1445
You can do it with https://getpino.io/#/docs/api?id=pino-multistream and split2.

Take a look at:
- https://github.com/pinojs/pino/blob/37337510704bf81cfb1015d7729439cd599ef5b2/test/helper.js#L31-L42
- https://github.com/pinojs/pino/blob/0a56154fa0a24ac2b4015b597e6ae06468821699/test/timestamp.test.js#L21

I think a less convoluted API to do that would be nice indeed.

[2022-05-30 08:51] simone-sanfratello commented on #1445
I'll go with that solution, thanks!

[2022-05-30 09:00] kibertoad commented on #1445
Maybe issue should be kept open, as there is still work to be done?

[2022-05-30 11:01] fraxken opened #1446 "undefined (reading Symbol pino.nestedKey)"
Hello 👋,

Since few days (at least 2 weeks i think) we are facing an issue with pino which make our Fastify server to always reboot for a reason i fail to identify.

The only error and stacktrace i have of the issue:
![image](https://user-images.githubusercontent.com/4438263/170977301-aa8cba75-fc77-4dd0-9050-ac0a1f93f8af.png)

Doesn't seem to occur each time or with the same endpoints (so i guess

[2022-05-30 11:06] fraxken commented on #1446
It work in our production env with Fastify `^3.24.0`

[2022-05-30 13:13] jsumners commented on #1446
Seeming duplicate of https://github.com/pinojs/pino/issues/956.

Regardless, v6 is no longer supported https://github.com/pinojs/pino/blob/22e0935b6da267f419a6f3e45f26e306202a18ed/docs/lts.md#schedule

[2022-05-30 13:13] #1446 closed

[2022-05-31 03:32] stuft2 commented on #1443
The reason the error doesn't occur in the second example is because I have the merge object in the wrong position. It should be first, with the message following. Not a bug.

[2022-05-31 03:32] #1443 closed

[2022-05-31 19:06] ibadb opened #1447 "Using pino logger with ECS format does not log custom attributes"
I'm using the following code to return a pino logger instance. I want to log a custom 'name' attribute but I don't seem to get it to work. No errors. It just does not log the 'name' attribute. Everything else is working as expected. Is this the correct way to create a logger instance?

[code]
But if I change the code and remove the ECS function, it starts working as expected:

[code]
I need to get

[2022-05-31 22:27] windy1 commented on #1441
@mothershipper Were you able to find a workaround for this? Currently dealing with the same issue, except the `log` property in `formatters` accepts an `object` argument that starts at the `nestedKey` and NOT from the root of the log message, unless I'm missing something I don't see any way to modify the root of the log message using a formatter @mcollina

[2022-06-01 01:57] wong2 commented on #1442
[code]

this doesn't work

[2022-06-01 11:03] #1441 closed

[2022-06-01 11:17] mcollina commented on #1447
@delvedor is the best person to ask this question to. Or possibly open an issue in ecs-pino-format.

[2022-06-01 12:14] simone-sanfratello commented on #1445
just an update, can be done with `sinon` too

[2022-06-01 15:15] #1447 closed

[2022-06-02 01:43] budarin opened #1451 "Pino imports entire package.json into distribution instead only version from it"
In meta.js

[code]
and as a result whole `package.json` is included into dist

[2022-06-02 02:38] jsumners commented on #1451
What is the problem?

[2022-06-02 02:43] budarin commented on #1451
extra code in the assembly that increases its size

[2022-06-02 03:00] jsumners commented on #1451
What is your suggestion?

[2022-06-02 03:05] budarin commented on #1451
do it with instruments in building process
we do this creating the file which exports prevaled the const in building process :)

[2022-06-02 03:07] jsumners commented on #1451
Pino does not use a build process. This is working as expected.

[2022-06-02 05:15] whoyawn opened #1452 "TypeScript complains with `This expression is not callable.` using basic init"
[code]

leads to VSCode saying

[code]

My tsconfig.json:

[code]

Do I have to install anything else to get the compiler to recognize my js file?

[2022-06-02 08:09] mcollina commented on #1452
@kibertoad ptal

[2022-06-02 08:10] kibertoad commented on #1452
@whoyawn which pino version are you using?

[2022-06-02 08:12] mcollina commented on #1451
We could potentially use the same flow Fastify uses. It's not too complex
to implement.

[2022-06-02 08:14] kibertoad commented on #1451
@mcollina https://github.com/fastify/fastify/pull/3427/files -> is this the one you are talking about?

[2022-06-02 10:37] mcollina commented on #1451
yes exactly!

[2022-06-02 10:42] kibertoad commented on #1451
@budarin Could you create a PR, replicating https://github.com/fastify/fastify/pull/3427/files in pino?

[2022-06-02 15:40] budarin commented on #1451
I'll try

[2022-06-02 18:23] budarin commented on #1451
I've prepared PR, but unfortunately I have no permission to create a new branch :(

[2022-06-02 19:27] kibertoad commented on #1451
Can you create a fork and push it there?

[2022-06-03 05:33] whoyawn commented on #1452
Here are my versions
[code]

[2022-06-04 07:58] HsinHeng opened #1454 "Transport With PM2 will delay logging"
We use ```pino.destination({ sync: false })``` with PM2 to run node.js before, and logging seem to work fine.

Recently, We upgrade pino to v7 and use transport with PM2.
After process run a moment,  some logs will delay output N minutes to PM2 stdout & file.
It's difficult to reproduce.

Does Pino tansport compatible with PM2?

The version of pino is used.
[code]

[code]

PM2
[code]

[2022-06-05 08:28] jeandat opened #1455 "Log crash if provided error message contains placeholders"
node: 16.15.1
pino: 8.0.0
pino-http: 7.1.0
pino-pretty: 8.0.0

I format my error logs like this :

[code]

pino shows me something like this:

[code]

The exception message contains a URL which contains the characters %3A. It seems pino thinks this is a placeholder and try to convert it and crash cause it doesn't find any interpolation value for it.

It don't understand why pino act like this. The